<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<loading-spinner [spinnerStatus]="setSpinnerStatus" [spinnerType]="spinnerType" *ngIf="showSpinner">
</loading-spinner>

<div class="" style="margin-top: 90px;padding: 0 1%" *ngIf="!showSpinner">
  <div class="row" style="width: 100%; margin: 0;">

    <!--</div>-->
    <div class="col-xl-12 col-lg-12 col-md-12 content-list" style="height: 100%">
      <div class="list">
        <form [formGroup]="invoiceForm" (ngSubmit)="onUpdate()" novalidate>
          <div class="row content-list-header" style="padding-top: 10px">
            <div class="col-md-8 text-left filter-actions-top">
              <div style="width: 30%;margin-right: 15px;">
                <label for="tenantID">Select Tenant <sup class="text-danger">*</sup></label>
                <br>
                <select class="gen-input browser-default form-control pl-1" style="width: 100%"
                  formControlName="tenantID" name="tenantID" (change)="onChangeTenant()" disabled="true" required>
                  <option value="" disabled="" selected=""> Tenants</option>
                  <option [value]="tenant?.id" *ngFor="let tenant of arrayTenants">
                    {{tenant?.name}}
                  </option>
                </select>
                <div class="mt-2" *ngIf="(f.tenantID.dirty || f.tenantID.touched) && f.tenantID.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.tenantID.errors.required">
                    Tenant is required.
                  </span>
                </div>
              </div>
              <div style="width: 30%;margin-right: 15px;">
                <label for="currency">Select currency <sup class="text-danger">*</sup></label>
                <br>
                <select class="gen-input browser-default ml-1 form-control pl-1" style="width: 100%"
                  formControlName="currency" name="currency" (change)="onChangeCurrency()" required>
                  <option value="" disabled="" selected="">Select Currency</option>
                  <option value="NGN">Naira</option>
                  <option value="USD">Dollar</option>
                  <!-- <option value="EUR">Euro</option> -->
                </select>
                <div class="mt-2" *ngIf="(f.currency.dirty || f.currency.touched) && f.currency.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.currency.errors.required">
                    Currency is required.
                  </span>
                </div>
              </div>
              <div style="width: 30%">
                <label for="paymentMethod">Select Payment Plan <sup class="text-danger">*</sup></label>
                <br>
                <select class="gen-input browser-default ml-2 form-control pl-1" style="width: 100%"
                  formControlName="paymentMethod" name="paymentMethod" (change)="onChangePaymentMethod()" required>
                  <option value="" disabled="" selected="">Select Payment Plan </option>
                  <option value="monthly">Monthly</option>
                  <!-- <option value="quarterly">Quarterly</option> -->
                  <option value="annually">Annually</option>
                </select>
                <div class="mt-2" *ngIf="(f.paymentMethod.dirty || f.paymentMethod.touched) && f.paymentMethod.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.paymentMethod.errors.required">
                    Payment Plan is required.
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-left filter-actions-top" style="padding-top: 10px">
              <div style="width: 30%;margin-right: 15px;">
                <label for="type">Plan Type <sup class="text-danger">*</sup></label>
                <br>
                <select style="width: 100%" formControlName="type" name="type"
                  class="gen-input browser-default form-control pl-1" required>
                  <option value="" disabled="" selected=""> Select Plan Type</option>
                  <option value="Trial"> Trial</option>
                  <option value="Regular"> Regular</option>
                </select>
                <div class="mt-2" *ngIf="(f.type.dirty || f.type.touched) && f.type.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.type.errors.required">
                    Plan Type is required.
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Editable table -->
          <div style="margin-top: 5rem;">
            <div class="card" style="margin-top: 30px">
              <!-- <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Create Quotes</h3> -->
              <div class="card-body">
                <!-- Table -->
                <div id="table" class="table-editable">
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                      <th class="text-center">License <sup class="text-danger">*</sup></th>
                      <th class="text-center">Description <sup class="text-danger">*</sup></th>
                      <th class="text-center">Unit Price</th>
                      <!-- <th class="text-center">Quantity <sup class="text-danger">*</sup></th> -->
                      <!-- <th class="text-center">Tax <sup class="text-danger">*</sup></th> -->
                      <!-- <th class="text-center">Tax Amount</th> -->
                      <th class="text-center">Amount</th>
                      <th class="text-center"></th>
                    </tr>
                    <tr class="text-center">
                      <td class="pt-3-half">
                        <select name="" style="width: 100%;" formControlName="licenseID" (change)="onChangeLicense()"
                          required>
                          <option value="" disabled="" selected=""> Choose license</option>
                          <option [value]="license?.id" *ngFor="let license of arrayLicenses">
                            {{license?.name}}
                          </option>
                        </select>
                      </td>
                      <td class="pt-3-half" contenteditable="true">
                        <input type="text" formControlName="descrip">
                      </td>
                      <td class="pt-3-half">
                        <input type="number" name="unitPrice" (input)="handleComputation()" formControlName="unitPrice"
                          disabled>
                      </td>
                      <!-- <td class="pt-3-half">
                        <input type="number" name="quantity" (input)="handleComputation()" formControlName="quantity">
                      </td> -->
                      <!-- <td class="pt-3-half">
                        <select name="tax" style="width: 100%;" formControlName="tax" (change)="handleComputation()"
                          (click)="handleTaxSelection()">
                          <option value="" disabled="" selected="">Tax type</option>
                          <option value="none">No tax</option>
                          <option value="vat">VAT(5%)</option>
                        </select>
                      </td> -->
                      <!-- <td class="pt-3-half">
                        <input type="number" name="taxAmount" formControlName="taxAmount" disabled>
                      </td> -->
                      <td class="pt-3-half">
                        <input type="number" name="amount" formControlName="amount" disabled>
                      </td>
                      <td class="text-center">
                        <span class="table-remove">
                          <i class="fas fa-trash hov-pointer-black text-danger"></i>
                        </span>

                      </td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr class="hide">
                      <td class="pt-3-half">
                        <select name="">
                          <option value="">Basic Plan</option>
                          <option value="">Regular Plan</option>
                          <option value="">Advanced Plan</option>
                          <option value="">Premium Plan</option>
                        </select>
                      </td>
                      <td class="pt-3-half" contenteditable="true">Premium server</td>
                      <td class="pt-3-half" contenteditable="true">$5.00</td>
                      <td class="pt-3-half" contenteditable="true">5</td>
                      <td class="pt-3-half">
                        <select name="">
                          <option value="">Tax Name</option>
                          <option value="">Tax inclusive</option>
                          <option value="">No tax</option>
                        </select>
                      </td>
                      <td class="pt-3-half" contenteditable="true">500$</td>
                      <td class="pt-3-half">
                        5
                        <!--<span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up"-->
                        <!--aria-hidden="true"></i></a></span>-->
                        <!--<span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down"-->
                        <!--aria-hidden="true"></i></a></span>-->
                      </td>
                      <td class="text-center">
                        <span class="table-remove">
                          <i class="fas fa-trash hov-pointer-black text-danger"></i>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
                <!-- Loader  -->
                <div class="tb-overlay" *ngIf="loader.overlay">
                  <div class="box">
                    <span><i class="fa fa-spinner fa-spin"></i> Please wait...</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Editable table -->
            <div class="row">
              <div class="offset-sm-2 col-sm-4 right invoice-total" style="display: none;">

                <table class="table table-borderless text-right mt-3 pt-3">
                  <tbody>
                    <tr>
                      <th scope="row">Total Amount</th>
                      <td title="View more options" class="tooltip-test"> <span
                          class="currency">{{selectedCurrency}}</span>
                        {{totalAmount | currency}}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Amount Paid <span class="pl-1"> (17-07-2019)</span></th>
                      <td title="View more options" class="tooltip-test"><span class="currency">₦
                        </span>11,25
                      </td>
                    </tr>
                    <tr class="last-row">
                      <th scope="row">
                        <h4>Balance</h4>
                      </th>
                      <td title="View more options" class="tooltip-test">
                        <h4><span class="currency">₦</span> 90,25</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->

          <div class="content-list-buttons mt-5 text-right">
            <button type="button" class="fin-sec-btn mr-2" *ngIf="!isLoading"
              [routerLink]="['/billing-invoice/list']">Cancel</button>
            <button class="fin-pry-btn" type="submit" [disabled]="!invoiceForm.valid" [ladda]="isLoading"
              data-style="zoom-in">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
