.tb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffffe3;
  overflow: auto;
}

.tb-overlay .box {
  position: absolute;
  text-align: center;
  margin-top: 5.5%;
  width: 100%;
}

.fa-spinner {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
