<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<loading-spinner [spinnerStatus]="setSpinnerStatus" [spinnerType]="spinnerType" *ngIf="showSpinner">
</loading-spinner>

<div class="" style="margin-top: 90px;padding: 0 1%" *ngIf="!showSpinner">
  <div class="row" style="width: 100%; margin: 0;">
    <!--</div>-->
    <div class="col-xl-12 col-lg-12 col-md-12 content-list" style="height: 100%">
      <div class="list">
        <div class="row content-list-header" style="padding-top: 10px">
          <div class="text-center">
            <div class="col-sm-12 content-list-title">
              <div class="m-auto text-center">
                <h5 class="text-center m-auto fin-pry-color" style="font-weight: 600">Create License
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="licenseForm" novalidate>
        <div class="row">
          <div class="col-lg-6" style="border-right: 1px #c4c4c4 solid;height: 700px">
            <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label style="font-size: 16px">License Name <sup class="require">*</sup></label>
              <br>
              <input formControlName="name" name="name" type="text" class="gen-input browser-default"
                (input)="filterLicenseByName()">
              <div *ngIf="(f.name.dirty || f.name.touched) && f.name.valid">
                <span class="text-success" style="font-size: 13px;" *ngIf="!vm.isFound">
                  License name validated..
                </span>
                <span class="text-danger" style="font-size: 13px;" *ngIf="vm.isFound">
                  License name already exist..
                </span>
              </div>
              <div class="mt-2" *ngIf="(f.name.dirty || f.name.touched) && f.name.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.name.errors.required">
                  License Name is required.
                </span>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label for="descrip" class="" style="font-size: 16px">Description <sup class="require">*</sup></label>
              <br>
              <textarea rows="4" formControlName="descrip" type="text" class="gen-input browser-default"></textarea>
              <div class="mt-2" *ngIf="(f.descrip.dirty || f.descrip.touched) && f.descrip.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.descrip.errors.required">
                  Description is required.
                </span>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label for="maxUsers" class="" style="font-size: 16px">Max number of Users <sup
                  class="require">*</sup></label>
              <br>
              <input formControlName="maxUsers" type="number" class="gen-input browser-default">
              <div class="mt-2" *ngIf="(f.maxUsers.dirty || f.maxUsers.touched) && f.maxUsers.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.maxUsers.errors.required">
                  Max number of Users is required.
                </span>
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.maxUsers.errors.pattern">
                  Max number is invalid.
                </span>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label for="monthlyPrice" class="" style="font-size: 16px">Monthly Price <sup
                  class="require">*</sup></label>
              <br>
              <div class="d--range form-group">
                <div class="ft-input-range">
                  <span>NGN</span>
                  <input formControlName="monthlyPrice" type="number" placeholder="NGN"
                    class="gen-input browser-default">
                  <div class="mt-2" *ngIf="(f.monthlyPrice.dirty || f.monthlyPrice.touched) && f.monthlyPrice.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.monthlyPrice.errors.required">
                      Monthly Price is required.
                    </span>
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.monthlyPrice.errors.pattern">
                      Monthly Price is invalid.
                    </span>
                  </div>
                </div>
                <div class="ft-input-range">
                  <span>USD</span>
                  <input formControlName="monthlyPriceUSD" type="number" placeholder="USD"
                    class="gen-input browser-default">
                  <div class="mt-2"
                    *ngIf="(f.monthlyPriceUSD.dirty || f.monthlyPriceUSD.touched) && f.monthlyPriceUSD.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.monthlyPriceUSD.errors.required">
                      Monthly Price USD is required.
                    </span>
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.monthlyPriceUSD.errors.pattern">
                      Monthly Price USD is invalid.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label for="annuallyPrice" class="" style="font-size: 16px">Annual Price <sup
                  class="require">*</sup></label>
              <br>
              <div class="d--range form-group">
                <div class="ft-input-range">
                  <span>NGN</span>
                  <input formControlName="annuallyPrice" type="number" placeholder="NGN"
                    class="gen-input browser-default">
                  <div class="mt-2"
                    *ngIf="(f.annuallyPrice.dirty || f.annuallyPrice.touched) && f.annuallyPrice.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.annuallyPrice.errors.required">
                      Annual Price is required.
                    </span>
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.annuallyPrice.errors.pattern">
                      Annual Price is invalid.
                    </span>
                  </div>
                </div>
                <div></div>
                <div class="ft-input-range">
                  <span>USD</span>
                  <input formControlName="annuallyPriceUSD" type="number" placeholder="USD"
                    class="gen-input browser-default">
                  <div class="mt-2"
                    *ngIf="(f.annuallyPriceUSD.dirty || f.annuallyPriceUSD.touched) && f.annuallyPriceUSD.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.annuallyPriceUSD.errors.required">
                      Annual Price USD is required.
                    </span>
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.annuallyPriceUSD.errors.pattern">
                      Annual Price USD is invalid.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
              <label for="quarterlyPrice" class="" style="font-size: 16px">Quarterly Price
                (&#8358;) <sup class="require">*</sup></label>
              <br>
              <input formControlName="quarterlyPrice" type="number" class="gen-input browser-default">
              <div class="mt-2"
                *ngIf="(f.quarterlyPrice.dirty || f.quarterlyPrice.touched) && f.quarterlyPrice.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.quarterlyPrice.errors.required">
                  Quarterly Price is required.
                </span>
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.quarterlyPrice.errors.pattern">
                  Quarterly Price is invalid.
                </span>
              </div>
            </div> -->
            <br><br>
            <div class="col-md-12 col-sm-12 mb-5" style="margin-top: 5%;width: 80%">
              <label for="maxStorage" class="" style="font-size: 16px">Maximum Storage (MB) <sup
                  class="require">*</sup></label>
              <br>
              <input formControlName="maxStorage" type="number" class="gen-input browser-default">
              <div class="mt-2" *ngIf="(f.maxStorage.dirty || f.maxStorage.touched) && f.maxStorage.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.maxStorage.errors.required">
                  Maximum Storage is required.
                </span>
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.maxStorage.errors.pattern">
                  Maximum Storage is invalid.
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Modules -->
            <div>
              <div class="m-auto text-left">
                <div class="col-sm-12 content-list-title">
                  <h5 class="text-left m-auto fin-pry-color" style="font-weight: 600">Select
                    Application(Module)</h5>
                </div>
              </div>
              <div class="ml-3 mt-3" style="border-bottom: 1px #c4c4c4 solid">
                <div *ngIf="licenseForm.touched && numberOfModules === 10">
                  <div class="alert alert-danger">At least one module must be selected</div>
                </div>
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                  width="100%">
                  <thead>
                    <tr>
                      <th class="th-sm" style="width: 50%">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input text-center checkbox-all"
                            id="defaultUnchecked" (click)="checkModules()">
                          <label class="custom-control-label" for="defaultUnchecked"></label>
                        </div>
                      </th>
                      <th class="th-sm text-center">Module</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-row" formArrayName="modules" *ngFor="let module of arrayModules; let i = index">
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" [formControlName]="i" class="custom-control-input text-center"
                            id="{{i}}" value="{{module}}">
                          <label class="custom-control-label" for="{{i}}"></label>
                        </div>
                      </td>
                      <td class="text-center">{{arrayModules[i]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Trial -->
            <div>
              <div class="col-md-12 col-sm-12" style="margin-top: 5%;width: 80%">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input
                  " id="trialPeriod" [checked]="isTrialPeriod" (change)="onChangeTrialPeriod()">
                  <label class="custom-control-label" for="trialPeriod" style="font-size: 16px">This is a Trial
                    License</label>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mb-5" style="margin-top: 5%;width: 80%" *ngIf="isTrialPeriod">
                <label for="trialPeriod" class="" style="font-size: 16px">Trial Period <sup
                    class="require">*</sup></label>
                <br>
                <input formControlName="trialPeriod" type="number" class="gen-input browser-default">
                <div class="mt-2" *ngIf="(f.trialPeriod.dirty || f.trialPeriod.touched) && f.trialPeriod.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.trialPeriod.value === 0">
                    Trial Period is required.
                  </span>
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.trialPeriod.errors.pattern">
                    Trial Period is invalid.
                  </span>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="!licenseForm.valid" class="text-secondary">All fields are [disabled]="isLoading" required!</div> -->
            <div class="content-list-buttons mt-5">
              <button type="button" class="fin-sec-btn mr-2" *ngIf="!isLoading"
                [routerLink]="['/license/list']">Cancel</button>
              <button class="fin-pry-btn px-4" type="button" [disabled]="(!licenseForm.valid) || vm.isFound"
                [ladda]="isLoading" data-style="zoom-in" (click)="onSubmit()">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">
    <div class="chat">
      <div class="chat-history">

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio
              dolorum harum.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
              vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

      </div> <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus>
          <input type="hidden">

        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="">
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>
    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
