.d--range {
  padding-bottom: 25px;
}

.d--range .ft-input-range {
  float: left;
  line-height: 24px;
  width: 75%;
  padding: 2px 5px 2px 7px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #7E7F9A;
  box-sizing: border-box;
  border-radius: 5px;
  height: auto;
  font-size: 14px;
  color: #7E7F9A;
  background: transparent;
}

.d--range .ft-input-range:active,
.d--range .ft-input-range:hover,
.d--range .ft-input-range:focus {
  outline: none !important;
  border: 1px solid #158DED;
}

.d--range .ft-input-range>input {
  border: none 0;
  width: 80% !important;
  padding: 7px 16px !important;

}

.d--range .ft-input-range>svg,
.d--range .ft-input-range>span {
  padding: 1px !important;
  display: inline-block;
  font-size: 13px;
  color: #555;
}

.d--range .ft-input-range>span {
  font-weight: 500;
}
