<!-- Template Container Holder -->
<div class="ft-overlay-container" *ngIf="options?.type === 'container'">
  <div class="ft--overlay sm--pad container-fluid">
    <div class="flow-template">
      <!-- HEADER -->
      <div class="tw-flow-navigation tw-flow-navigation__wrapper">
        <div class="container-fluid">
          <div class="row">
            <!-- LOGO -->
            <div class="col-lg-10 col-sm-8">
              <div class="mt-1">
                <h5 class="my-auto fin-pry-color" style="font-weight: 400; font-size: 1.25rem;">{{options.title}}</h5>
              </div>
            </div>
            <div class="col-lg-2 text-right">
              <div class="mt-1">
                <!-- <div class="circle circle-responsive circle-inverse">
              <div class="tw-avatar__icon-container icon icon-profile"></div>
            </div> -->
                <button class="tw-flow-navigation__close-button btn-link close-button-with-avatar"
                  (click)="closeTemplate(id)">
                  <svg height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg">
                    <path class="close-button-svg"
                      d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- BODY -->
      <ng-content></ng-content>
      <!-- <div class="container-fluid my-5"> -->
      <div class="container-fluid1 my-5 ng-content">
        <!-- <ng-content></ng-content> -->
        <h1>Hello World</h1>
      </div>

    </div>
  </div>
</div>

<!-- Template Container Holder -->
<div class="ft-overlay-container" *ngIf="options?.type === 'test'">
  <div class="ft-board-flat">
    <!-- Header -->
    <!-- <ng-content select="[flow-header]"></ng-content> -->

    <!-- Body -->
    <ng-content></ng-content>
    <!-- <ng-content select="[flow-body]"></ng-content> -->

    <!-- Footer -->
    <!-- <ng-content select="[flow-footer]"></ng-content> -->
  </div>
</div>

<!-- Template Container Holder -->
<div class="ft-overlay-container" *ngIf="options?.type === 'detail'">
  <div class="ft-board-flat">
    <!-- Header -->
    <!-- <ng-content select="[flow-header]"></ng-content> -->

    <!-- Body -->
    <ng-content></ng-content>
    <!-- <ng-content select="[flow-body]"></ng-content> -->

    <!-- Footer -->
    <!-- <ng-content select="[flow-footer]"></ng-content> -->
  </div>
</div>
