<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<loading-spinner [spinnerStatus]="setSpinnerStatus" [spinnerType]="spinnerType" *ngIf="showSpinner">
</loading-spinner>

<div class="" style="margin-top: 90px;padding: 0 1%" *ngIf="!showSpinner">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-12 col-lg-12 col-md-12 content-list">
      <div class="m-auto text-center">
        <h3 class="text-center fin-pry-color" style="font-weight: 500;font-size: 22px">New Mail Template</h3>
      </div>
      <div class="mail-compose" style="width: 100%;border: none;">
        <form [formGroup]="createTemplateForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group col-lg-6">
              <label for="msgTrigger" style="font-size: 16px">Email Trigger <sup class="require">*</sup></label>
              <br>
              <select formControlName="msgTrigger" class="gen-input browser-default form-control" style="width: 80%">
                <option value="" disabled="" selected="">Select trigger</option>
                <option [value]="trigger" *ngFor="let trigger of arrayTriggers;">{{trigger}}
                </option>
              </select>
              <div class="mt-2" *ngIf="(f.msgTrigger.dirty || f.msgTrigger.touched) && f.msgTrigger.invalid">
                <span class="text-danger" style="font-size: 13px;" *ngIf="f.msgTrigger.errors.required">
                  Email Trigger is required.
                </span>
              </div>
            </div>
            <div class="form-group col-lg-8 my-3">
              <div class="mail-compose-input">
                <label style="font-size: 16px">Subject <sup class="require">*</sup></label>
                <br>
                <input formControlName="subject" type="text" [mentionConfig]="mentionConfig"
                  class="browser-default text-left left mb-2">
                <div class="mt-2">
                  <div *ngIf="(f.subject.dirty || f.subject.touched) && f.subject.valid">
                    <span class="text-success" style="font-size: 13px;">
                      Use '@' to add placeholders.
                    </span>
                  </div>
                  <div *ngIf="(f.subject.dirty || f.subject.touched) && f.subject.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.subject.errors.required">
                      Subject cannot be empty!.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-8">
              <div class="mail-compose-input">
                <label for="content" style="font-size: 16px">Content <sup class="require">*</sup></label>
                <angular-editor formControlName="content" [config]="editorConfig" class="emoji1" rows="10"
                  [mentionConfig]="mentionConfig">Enter
                  text here...
                </angular-editor>
                <div class="mt-2">
                  <div *ngIf="(f.content.dirty || f.content.touched) && f.content.valid">
                    <span class="text-success" style="font-size: 13px;">
                      Use '@' to add placeholders.
                    </span>
                  </div>
                  <div class="mt-2" *ngIf="(f.content.dirty || f.content.touched) && f.content.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.content.errors.required">
                      Email content cannot be empty!.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-8">
              <div class="content-list-buttons mt-5">
                <button type="button" class="fin-sec-btn mr-2" *ngIf="!isLoading"
                  [routerLink]="['/email-manager/templates']">Discard</button>
                <button class="fin-pry-btn px-4" type="submit" [disabled]="!createTemplateForm.valid"
                  [ladda]="isLoading" data-style="zoom-in">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">


    <div class="chat">

      <div class="chat-history">

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio
              dolorum harum.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
              vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

      </div> <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus>
          <input type="hidden">

        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../../../assets/img/ai-character.svg" alt="">
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>

    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
