.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  overflow: auto
}

.overlay-container .overlay {
  transition: top .6s cubic-bezier(.6, .2, .1, 1);
  top: 0
}

.overlay-container .overlay.ng-enter {
  top: 100%
}

.overlay-container .overlay.ng-enter.ng-enter-active {
  top: 0
}

.overlay-container .overlay.ng-leave {
  top: 0
}

.overlay-container .overlay.ng-leave.ng-leave-active {
  top: 100%
}

.bg-primary .flow-template .logo {
  background-image: url()
}

.bg-primary .flow-template .tw-flow-navigation {
  border-bottom: 0
}

.flow-template .container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1164px
}

.flow-template .tw-flow-navigation .container {
  margin-left: auto
}

.flow-template .btn-group .dropdown-menu {
  max-height: 50vh
}
