<div class="row" style="margin-left: auto; margin-right: auto;">
  <nav class="sub-nav" id="ft--hidden">
    <ul class="sub-nav-items text-center">
      <li><a [routerLink]="['/tenants/all']" class="nav-active">Tenants</a></li>
      <li><a [routerLink]="['/users/all']">All users</a></li>
    </ul>
  </nav>
</div>

<div class="" style="margin-top: 90px;padding: 0 1%">
  <!-- Flow Templates -->
  <flow-template id="custom-modal-1" [options]="flow.createTenant.options">
    <!-- FORM -->
    <!-- <h1>Hello World!</h1> -->
    <form class="form" [formGroup]="createOrgForm">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Organization Name <sup class="text-danger">*</sup></label>
          <br>
          <input type="text" id="name" name="name" formControlName="name" class="gen-input browser-default"
            (change)="onValidateName($event.target.value)">
          <div *ngIf="(f.name.dirty || f.name.touched) && f.name.valid">
            <!-- <span style="font-size: 13px;" *ngIf="!vm.isFound">
              Validating <span class="fa fa-spin"></span>
            </span> -->
            <span class="text-success" style="font-size: 13px;" *ngIf="!vm.isFound">
              Organization name validated..
            </span>
            <span class="text-danger" style="font-size: 13px;" *ngIf="vm.isFound">
              Organization name already exist..
            </span>
          </div>
          <div class="mt-2" *ngIf="(f.name.dirty || f.name.touched) && f.name.invalid">
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.name.errors?.required">
              Organization name is required.
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="email">Organization Email <sup class="text-danger">*</sup></label>
          <br>
          <input type="email" id="email" name="email" formControlName="email" class="gen-input browser-default">
          <div class="mt-2" *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid">
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.email.errors?.required">
              Organization email is required.
            </span>
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.email.errors?.pattern">
              Please enter a valid email (e.g. staff@company.com)
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
          <label for="industry">Industry <sup class="text-danger">*</sup></label>
          <br>
          <ng-select [items]="arrayIndustry" [selectOnTab]="true" placeholder="Select industry"
            formControlName="industry">
          </ng-select>
          <div class="mt-2" *ngIf="(f.industry.dirty || f.industry.touched) && f.industry.invalid">
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.industry.errors?.required">
              Select industry.
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
          <label for="timezone">Time zone <sup class="text-danger">*</sup></label>
          <br>
          <ng-select [items]="arrayTimezone" bindLabel="text" bindValue="offset" [selectOnTab]="true"
            placeholder="Select timezone" formControlName="timezone">
          </ng-select>
          <br>
          <div class="mt-2" *ngIf="(f.timezone.dirty || f.timezone.touched) && f.timezone.invalid">
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.timezone.errors?.required">
              Select Timezone.
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
          <label for="timezone">Assign to user <sup class="text-danger">*</sup></label>
          <br>
          <ng-select [items]="arrayUsers" bindValue="id" bindLabel="fullName" [selectOnTab]="true"
            placeholder="Select user" formControlName="userId">
          </ng-select>
          <div class="mt-2" *ngIf="(f.timezone.dirty || f.timezone.touched) && f.timezone.invalid">
            <span class="text-danger" style="font-size: 13px;" *ngIf="f.timezone.errors?.required">
              Select a user to continue
            </span>
          </div>
        </div>
      </div>
      <br><br>
      <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
      <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
      <div class="d-flex fgt-pswrd">
        <button class="submit-button expand-btn" type="button" (click)="onCreateTenant()"
          [disabled]="createOrgForm.invalid || loader.btn.addTenant || vm.isFound" [ladda]="loader.btn.addTenant"
          data-style="slide-right">
          CREATE
        </button>
      </div>
    </form>
  </flow-template>
  <!-- Flow Template Ends -->

  <!-- Flow Templates -->
  <flow-template id="custom-modal-2" [options]="flow.createTenant.options">
    <div class="" style="margin: -160px 0 0; padding: 0;">
      <app-create-invoice-bill [tenantId]="flow.createTenant.tenantId" (eventSource)="eventSource($event)">
      </app-create-invoice-bill>
    </div>
  </flow-template>
</div>


<!-- Main -->
<div class="content" style="margin-top: 90px;">
  <!-- Main -->
  <div class="row" style="width: 100%; margin: 0;" *ngIf="!flow.createTenant.display">
    <div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ecf2fb; width: 80%;">

      <ng-template [ngIf]="arrayTenants">
        <!-- Filters -->
        <app-data-filter [dataChanged]="dataFilter.dataChangedObs" [accordions]="dataFilter.accordions"
          [dataSource]="arrayTenants" (filteredSource)="dataSourceListener($event)"></app-data-filter>
      </ng-template>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8 content-list">
      <!-- Loader -->
      <loading-spinner [spinnerStatus]="setSpinnerStatus" (reloadSpinner)="retry($event)" [spinnerType]="spinnerType"
        *ngIf="loader.main"></loading-spinner>

      <!-- Main Section -->
      <div class="list" *ngIf="!loader.main">
        <div class="row content-list-header">
          <div class="col-md-12 text-left filter-actions-top">
            <div class="col-md-12 content-list-buttons">
              <!-- <button class="fin-sec-btn mr-2" (click)="exportTable()" [ladda]="this.loader.export"
                data-style="slide-left">
                EXPORT
              </button> -->
              <button class="fin-pry-btn mr-1" (click)="openTemplate('custom-modal-2')">
                MODAL 2
              </button>
              <button class="fin-pry-btn" (click)="openTemplate('custom-modal-1')">
                CREATE TENANT
              </button>
            </div>
          </div>
          <div class="col-md-6 text-left filter-actions-top">
            <!--<input type="text" placeholder="Search Companies" class="gen-input browser-default content-list-search">-->
            <!--<select class="gen-input browser-default form-control content-list-search">-->
            <!--<option value="12" disabled="" selected="">All Companies</option>-->
            <!--<option value="1">0-20</option>-->
            <!--<option value="2">21-80</option>-->
            <!--<option value="3">&gt;80</option>-->
            <!--</select>-->
            <div class="list-actions">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                <a class="dropdown-item" href="#">Email</a>
                <a class="dropdown-item" href="#">SMS</a>
                <a class="dropdown-item" href="#">Chat</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCenter3">Assign Territory</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCenter">Assign Company</a>
                <a class="dropdown-item" href="#">Assign Invoice Template</a>
                <a class="dropdown-item" href="#">Assign Quotation Template</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
            <!-- Assign Company Modal -->
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">
                      Assign Company
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label class="col-form-label">Assign company to</label>
                        <br />
                        <select id="mselect1" multiple="" data-placeholder="Pick Sales Person" style="width: 100%;">
                          <!--Kindly include a search box to the multiple select dropdown plus users should be able to multi select-->
                          <!--Add select all-->
                          <!--<option value="" disabled selected>Choose your option</option>-->
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">England</option>
                          <option value="3">Option 4</option>
                          <option value="3">Tokyo</option>
                          <option value="3">Tokyo</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label">Assign company to</label>
                        <br />
                        <select id="mselect0" multiple="" data-placeholder="Select Team" style="width: 100%;">
                          <!--Kindly include a search box to the multiple select dropdown plus users should be able to multi select-->
                          <!--Add select all-->
                          <!--<option value="" disabled selected>Choose your option</option>-->
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">England</option>
                          <option value="3">Option 4</option>
                          <option value="3">Tokyo</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="fin-sec-btn" data-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="fin-pry-btn">Assign</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Assign Company Modal End-->

            <!-- Assign Lead Modal -->
            <div class="modal fade" id="ModalCenter3" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle3"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle3">
                      Assign Company
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label class="col-form-label">Assign company to</label>
                        <br />
                        <select id="mselect" multiple="" data-placeholder="Pick Sales Person" style="width: 100%;">
                          <!--Kindly include a search box to the multiple select dropdown plus users should be able to multi select-->
                          <!--Add select all-->
                          <!--<option value="" disabled selected>Choose your option</option>-->
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">England</option>
                          <option value="3">Option 4</option>
                          <option value="3">Tokyo</option>
                          <option value="3">Tokyo</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label">Assign company to</label>
                        <br />
                        <select id="mselect2" multiple="" data-placeholder="Select Team" style="width: 100%;">
                          <!--Kindly include a search box to the multiple select dropdown plus users should be able to multi select-->
                          <!--Add select all-->
                          <!--<option value="" disabled selected>Choose your option</option>-->
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">England</option>
                          <option value="3">Option 4</option>
                          <option value="3">Tokyo</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="fin-sec-btn" data-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="fin-pry-btn">Assign</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Assign Lead Modal End-->
          </div>
          <!-- Add Company Modal -->
          <div class="modal fade" id="ModalCenter4" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle4"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalCenterTitle4">
                    Add Company
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label class="col-form-label">Company domain name</label>
                      <input type="text" class="gen-input2 browser-default" />
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Company Name</label>
                      <input type="text" class="gen-input2 browser-default" />
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Create company by entering either the company's domain
                        name, name or both.</label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="fin-sec-btn" data-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="fin-pry-btn">Add</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Company Modal End-->
        </div>

        <!-- Table -->
        <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
          [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
          [bodyrows]="arrayTenants">
        </inn-datatable>
      </div>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">
    <div class="chat">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
              explicabo quasi ratione odio dolorum harum.
            </p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />

        <div class="chat-message clearfix">
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis, nulla accusamus magni vel debitis numquam qui tempora
              rem voluptatem delectus!
            </p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />

        <div class="chat-message clearfix">
          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />
      </div>
      <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus />
          <input type="hidden" />
        </fieldset>
      </form>
    </div>
    <!-- end chat -->
  </div>
  <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="" />
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>
    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
