<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 left-div">
      <div class="login-header">
        <a href="" id="logo-container"><img src="./assets/img/notch-logo.svg" width="60" alt=""></a>&nbsp;
        <span class="cc-header" style="position: relative;top: 5px;font-size: 14px">Command Center</span>
      </div>

      <h2 class="">Welcome!</h2>
      <div class="pt-4">
      </div>

      <form [formGroup]="loginForm" class="form">
        <label>Email</label>
        <br>
        <input type="email" formControlName="email" id="email validationCustom01" name="email"
          class="gen-input browser-default form-control" style="width: 400px" required>
        <div class="mt-2" *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid">
          <span class="form-error" *ngIf="f.email.errors.required">
            Email is required.
          </span>
          <span class="form-error" *ngIf="f.email.errors.pattern">
            Email is invalid.
          </span>
        </div>
        <div class="space-30"></div>
        <label for="password">Password</label>
        <br>
        <input type="password" formControlName="password" id="password" name="password"
          class="form-control gen-input browser-default" style="width: 400px" required>
        <div class="mt-2" *ngIf="(f.password.dirty || f.password.touched) && f.password.invalid">
          <span class="form-error" *ngIf="f.password.errors.required">
            Password cannot be empty.
          </span>
        </div>
        <br>
        <!-- Default checked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
          <label class="custom-control-label" for="defaultChecked2">Remember me</label>
        </div>
        <br>
        <div class="d-flex fgt-pswrd">
          <button class="fin-pry-btn expand-btn" [disabled]="loginForm.invalid || loader.btn.login"
            [ladda]="loader.btn.login" data-style="slide-right" (click)="onLogin()">
            Login
          </button>
          <a routerLink="/forgot-password" style="margin-left: 20px;">Forgot Password?</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4 login-bg">
      <h3>Login to
        <br>
        continue
      </h3>
    </div>
  </div>
</div>
