@keyframes rotate-360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

[btn-busy] {
  > div {
      position: relative;
  }
  .busy {
      animation: rotate-360 0.8s infinite linear;
      border: 1px solid slategray;
      border-radius: 50%;
      border-right-color: midnightblue;
      border-top-color: midnightblue;
      display: inline-block;
      &.ng-hide-add {
          animation: none 0s; //allow for quick removal (ignore .8 second animation from rotate-360)
      }
  }
  .btn-busy-text {
      &.ng-hide {
          display: block !important;
          opacity: 0;
      }
  }
  .busy-container {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
  }
  .busy {
      height: 20px;
      width: 20px;
  }
  
  &.btn-busy-large .busy {
      height: 32px;
      width: 32px;
  }

}