<!-- Flow Templates -->
<flow-template id="billing-details-1" [options]="flow.billing.options">
  <!-- Flow: Content -->
  <ng-container *ngIf="!loader.flow.showSpinner">
    <!-- Sub Navigation -->
    <div flow-header>
      <div class="row" style="margin-left: auto; margin-right: auto;">
        <nav class="sub-nav hide-on-med-and-down" *ngIf="!loader.main.showSpinner">
          <div class="contact-actions d-flex">
            <div class="user-dp">
              <a data-toggle="modal" data-target="#ModalCenter19">
                <img [src]="dataSource?.profileImage || 'https://test.notchcx.io/assets/img/default.png'"
                  class="avatar img-circle img-thumbnail" style="width:50px; height: 50px;" alt="avatar">
              </a>
            </div>
            <div class="contact-home-link">
              <h6 style="margin-top: 25px; font-size: 18px;"> {{dataSource?.tenantName | uppercase}}</h6>
              <!-- &nbsp; <span class="badge badge-primary">{{dataSource?.status}}</span> -->
            </div>
            <div class="actions-btn d-flex">
              <!-- MENU -->
              <div class="btn-group" (click)="onMouseMenu()" [ngClass]="{'opened': isOpened}">
                <button type="button" class="btn fin-pry-btn ml-4 dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{ navMenu.default | titlecase}}
                </button>
                <div class="dropdown-menu">
                  <a *ngFor="let menu of navMenu.list">
                    <span class="dropdown-item" *ngIf="!menu.selected"
                      (click)="onSelectMenu(menu.name)">{{menu.name | titlecase}}</span>
                  </a>
                </div>
              </div>
              <!-- Add Payment -->
              <div class="btn-group">
                <button type="button" class="fin-sec-btn ml-4">Add Payment
                </button>
                <!-- <button type="button" (click)="scrollToElement('addPayment')" class="fin-sec-btn ml-4">Add Payment
                </button> -->
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Body -->
    <div flow-body>
      <div class="content ft-content" style="margin-top: 90px;">
        <div class="row" style="width: 100%; margin: 0;">
          <div class="col-lg-8 col-xl-9 col-md-12 content-body">

            <div class="contact-header-nav my-3 mb-4">
              <a routerLink="/billing-invoice/list">
                &#60; Billing List </a>
            </div>

            <!-- DashBoard View -->
            <ng-template [ngIf]="(display.dashboard===true) && (loader.content.showSpinner===false)">
              <div class="br-pagebody-mn">
                <form [formGroup]="invoiceForm" novalidate>
                  <div class="row content-list-header" style="padding-top: 10px">
                    <div class="col-md-8 text-left filter-actions-top">
                      <div style="width: 30%;margin-right: 15px;">
                        <label for="tenantID">Select Tenant <sup class="text-danger">*</sup></label>
                        <br>
                        <select class="gen-input browser-default form-control pl-1" style="width: 100%"
                          formControlName="tenantID" name="tenantID" (change)="onChangeTenant()" required>
                          <option value="" disabled="" selected=""> Tenants</option>
                          <option [value]="tenant?.id" *ngFor="let tenant of arrayTenants">
                            {{tenant?.name}}
                          </option>
                        </select>
                        <div class="mt-2" *ngIf="(f.tenantID.dirty || f.tenantID.touched) && f.tenantID.invalid">
                          <span class="text-danger" style="font-size: 13px;" *ngIf="f.tenantID.errors.required">
                            Tenant is required.
                          </span>
                        </div>
                      </div>
                      <div style="width: 30%;margin-right: 15px;">
                        <label for="currency">Select currency <sup class="text-danger">*</sup></label>
                        <br>
                        <select class="gen-input browser-default ml-1 form-control pl-1" style="width: 100%"
                          formControlName="currency" name="currency">
                          <option value="" disabled="" selected="">Select Currency</option>
                          <option value="NGN">Naira</option>
                          <option value="USD">Dollar</option>
                        </select>
                        <div class="mt-2" *ngIf="(f.currency.dirty || f.currency.touched) && f.currency.invalid">
                          <span class="text-danger" style="font-size: 13px;" *ngIf="f.currency.errors.required">
                            Currency is required.
                          </span>
                        </div>
                      </div>
                      <div style="width: 30%">
                        <label for="paymentMethod">Select Payment Plan <sup class="text-danger">*</sup></label>
                        <br>
                        <select class="gen-input browser-default ml-2 form-control pl-1" style="width: 100%"
                          formControlName="paymentMethod" name="paymentMethod" (change)="onChangePaymentMethod()"
                          required>
                          <option value="" disabled="" selected="">Select Payment Plan </option>
                          <option value="MONTHLY">Monthly</option>
                          <option value="ANNUALLY">Annually</option>
                        </select>
                        <div class="mt-2"
                          *ngIf="(f.paymentMethod.dirty || f.paymentMethod.touched) && f.paymentMethod.invalid">
                          <span class="text-danger" style="font-size: 13px;" *ngIf="f.paymentMethod.errors.required">
                            Payment Plan is required.
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 text-left filter-actions-top" style="padding-top: 10px">
                      <div style="width: 30%;margin-right: 15px;">
                        <label for="type">Plan Type <sup class="text-danger">*</sup></label>
                        <br>
                        <select style="width: 100%" formControlName="type" name="type"
                          class="gen-input browser-default form-control pl-1">
                          <option value="" disabled="" selected=""> Select Plan Type</option>
                          <option value="TRIAL"> Trial</option>
                          <option value="REGULAR"> Regular</option>
                        </select>
                        <div class="mt-2" *ngIf="(f.type.dirty || f.type.touched) && f.type.invalid">
                          <span class="text-danger" style="font-size: 13px;" *ngIf="f.type.errors.required">
                            Plan Type is required.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Editable table -->
                  <div style="margin-top: 5rem;">
                    <div class="card" style="margin-top: 30px">
                      <div class="card-body">
                        <!-- Table -->
                        <div id="table" class="table-editable">
                          <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                              <th class="text-center">License <sup class="text-danger">*</sup></th>
                              <th class="text-center">Description <sup class="text-danger">*</sup></th>
                              <th class="text-center">Amount</th>
                            </tr>
                            <tr class="text-center">
                              <td class="pt-3-half">
                                <select name="" style="width: 100%;" formControlName="licenseID"
                                  (change)="onChangeLicense()">
                                  <option value="" disabled="" selected=""> Choose license</option>
                                  <option [value]="license?.id" *ngFor="let license of arrayLicenses">
                                    {{license?.name}}
                                  </option>
                                </select>
                              </td>
                              <td class="pt-3-half" contenteditable="false">
                                <input type="text" formControlName="descrip">
                              </td>
                              <td class="pt-3-half">
                                <input type="number" name="amount" formControlName="amount">
                              </td>
                            </tr>
                          </table>
                        </div>
                        <!-- Loader  -->
                        <div class="tb-overlay" *ngIf="loader.overlay">
                          <div class="box">
                            <span><i class="fa fa-spinner fa-spin"></i> Please wait...</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Editable table -->
                    <div class="row" style="display: none;">
                      <div class="offset-sm-2 col-sm-4 right invoice-total">

                        <table class="table table-borderless text-right mt-3 pt-3">
                          <tbody>
                            <tr>
                              <th scope="row">Total Amount</th>
                              <td title="View more options" class="tooltip-test"> <span
                                  class="currency">{{selectedCurrency}}</span>
                                {{totalAmount | currency}}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Amount Paid <span class="pl-1"> (17-07-2019)</span></th>
                              <td title="View more options" class="tooltip-test"><span class="currency">₦
                                </span>11,25
                              </td>
                            </tr>
                            <tr class="last-row">
                              <th scope="row">
                                <h4>Balance</h4>
                              </th>
                              <td title="View more options" class="tooltip-test">
                                <h4><span class="currency">₦</span> 90,25</h4>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- Editable table -->

                  <div class="content-list-buttons mt-5 text-right">
                    <!-- <button type="button" class="fin-sec-btn mr-2" *ngIf="!isLoading"
                      [routerLink]="['/billing-invoice/list']">Cancel</button> -->
                    <button class="fin-pry-btn" type="button" [disabled]="invoiceForm.valid" [ladda]="isLoading"
                      data-style="zoom-in" (click)="onUpdate()">Save Changes</button>
                  </div>
                </form>
              </div>
            </ng-template>
            <!-- DashBoard View Ends -->

            <!-- Transaction History View -->
            <ng-template [ngIf]="(display.transaction===true) && (loader.content.showSpinner===false)">
              <div class="br-pagebody-mn">
                <header class="settings-header">
                  <h1>Payment History</h1>
                </header>
                <inn-datatable [tableClass]="'table-bordered table-hover'"
                  [dataChanged]="dataTable.transaction.dataChangedObs" [options]="dataTable.transaction.options"
                  [heads]="dataTable.transaction.heads" (feedback)="dataFeedBackObsListener($event)"
                  [bodyrows]="dataTransaction">
                </inn-datatable>
              </div>
            </ng-template>
            <!-- Transaction History View Ends -->

            <!-- Add Fund -->
            <ng-template [ngIf]="!loader.content.showSpinner">
              <div class="clearfix"></div>
              <div #addPayment style="margin-top: 4rem;" class="mb-4" id="addPayment">
                <div class="col-md-12 settings-wrapper">
                  <div class="px-4">
                    <header class="settings-header">
                      <h1>Add Payment</h1>
                    </header>
                    <br>
                    <div class="row">
                      <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
                        <div class="left-nav-grp">
                          <div class="nav-menu">
                            <ul class="nav-menu1" style="border: none !important;">
                              <li>
                                <a (click)="selectedCard = 'bank'" role="tab" data-toggle="tab"
                                  data-target="bank-payment" [ngClass]="{'nav-menu-active': selectedCard === 'bank'}"
                                  class="nav-menu-active" style="font-weight: normal;">Bank
                                  Payment</a>
                              </li>
                              <li>
                                <a (click)="selectedCard = 'card'" role="tab" data-toggle="tab"
                                  [ngClass]="{'nav-menu-active': selectedCard === 'card'}"
                                  style="font-weight: normal;">Card Payment</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-9">
                        <div class="col-lg-12">
                          <!-- Bank Payment -->
                          <div *ngIf="selectedCard==='bank'">
                            <div class="settings-header">
                              <h6>Bank Payment</h6>
                            </div>
                            <div class="settings-label">
                              <form [formGroup]="bankPaymentForm">
                                <div class="row form-group">
                                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-5" style="padding-top: 20px;">
                                    <label>Bank Account <sup class="required">*</sup></label>
                                    <select class="gen-input browser-default form-control pl-1" style="width: 100%"
                                      formControlName="setupID" name="setupID" required>
                                      <option value="" disabled="" selected=""> Select Account</option>
                                      <option [value]="acct?.id" *ngFor="let acct of arrayAccounts">
                                        {{acct?.accountName}} - {{acct?.bank}} ({{acct?.accountNo}})
                                      </option>
                                    </select>
                                  </div>
                                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-5" style="padding-top: 20px;">
                                    <label for="amount">Amount <sup class="required">*</sup></label>
                                    <br>
                                    <input type="number" formControlName="amount" id="amount" name="amount"
                                      class="gen-input browser-default">
                                  </div>
                                  <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xl-9"
                                    style="padding-top: 20px;">
                                    <label>Payment Status <sup class="required">*</sup></label>
                                    <br>
                                    <select class="gen-input browser-default form-control pl-1" style="width: 100%"
                                      formControlName="paymentStatus" name="paymentStatus" required>
                                      <option value=0 selected=""> Not Paid</option>
                                      <option value=1> Paid</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xl-12"
                                    style="padding-top: 20px;">
                                    <label>Description</label>
                                    <br>
                                    <textarea type="text" formControlName="details" name="details"
                                      class="gen-input browser-default" style="height: 120px"></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <button (click)="processBankPayment()" type="button" class="fin-pry-btn"
                                      [disabled]="(loader.paymentBtn || bankPaymentForm.invalid)"
                                      [ladda]="loader.paymentBtn" data-style="slide-left">Update
                                      Payment</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <!-- Card Payment -->
                          <div *ngIf="selectedCard==='card'">
                            <div class="settings-header">
                              <h6>Card Payment</h6>
                            </div>
                            <div class="settings-label">
                              <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xl-8"
                                  style="padding-top: 20px;">
                                  <label>Select Card <sup class="required"></sup></label>
                                  <select class="gen-input browser-default form-control pl-1" [(ngModel)]="ngModelCard"
                                    required>
                                    <option value="" disabled="" selected=""> Select Card</option>
                                    <option value="{{card?.id}}" *ngFor="let card of arrayCards">
                                      {{card?.bank}} - ({{card?.type}})
                                    </option>
                                  </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xl-8">
                                  <label for="amount">Amount (Balance): </label>
                                  <br>
                                  <input type="number" [(ngModel)]="ngModelBalance" id="balance" name="balance"
                                    class="gen-input browser-default" disabled style="background:#dadada;">
                                </div>
                                <br><br>
                                <div class="form-group col-md-12" style="padding-top: 20px;">
                                  <button type="button" (click)="processCardPayment()" [disabled]="loader.paymentBtn"
                                    [ladda]="loader.paymentBtn" data-style="slide-left" class="fin-pry-btn">Continue
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- Content Loader -->
            <loading-spinner [spinnerSet]="loader.content" *ngIf="loader.content.showSpinner"></loading-spinner>
          </div>
        </div>

        <!-- Summary -->
        <div class="col-lg-4 col-xl-3 col-md-12 feeds-card">
          <div class="feeds mt-2">
            <h6>Summary</h6>
            <hr class="divider">
            <table class="table table-borderless text-right mt-3 pt-3">
              <tbody>
                <tr>
                  <th scope="row">Payments</th>
                  <td title="Payments" class="tooltip-test">
                    {{dataTransaction?.length}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Amount Paid</th>
                  <td title="Amount Paid" class="tooltip-test">
                    <!-- ₦ -->
                    <!-- <span class="currency">{{selectedCurrency}}</span> -->
                    {{amountPaid | currency:'NGN':true}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Total Amount</th>
                  <td title="Total Amount" class="tooltip-test">
                    <!-- ₦ -->
                    <!-- <span class="currency">{{selectedCurrency}}</span> -->
                    {{totalAmount | currency:'NGN':true}}
                  </td>
                </tr>
                <tr>
                  <th>Balance </th>
                  <td title="Balance" class="tooltip-test">
                    <!-- ₦ -->
                    <!-- <span class="currency">{{selectedCurrency}}</span> -->
                    {{balanceAmount | currency:'NGN':true}}
                  </td>
                </tr>
                <!-- <tr class="last-row">
                  <th scope="row">
                    <h4>Balance</h4>
                  </th>
                  <td title="View more options" class="tooltip-test">
                    <h4><span class="currency">₦</span> 90,25</h4>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <!-- <div class="container mt-4">
            <button type="button" class="fin-pry-btn expand-btn" (click)="onUpdate()">Add Payment</button>
          </div> -->
        </div>
      </div>
    </div>

  </ng-container>

  <!-- Flow: Main Loader -->
  <loading-spinner [spinnerSet]="loader.flow" *ngIf="loader.flow.showSpinner"></loading-spinner>
</flow-template>
