<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<div class="content" style="margin-top: 90px !important;">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-12 col-lg-12 col-md-12 content-list">
      <!-- Loader -->
      <loading-spinner [spinnerStatus]="setSpinnerStatus" (reloadSpinner)="retry($event)" [spinnerType]="spinnerType"
        *ngIf="showSpinner"></loading-spinner>

      <!-- Main Section -->
      <div class="list" *ngIf="!showSpinner">
        <div class="row content-list-header">
          <div class="col-sm-12 border-bottom mb-3">
            <h4 class="text-uppercase text-center fs-18">
              User Information
            </h4>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-3 col-lg-2 col-xl-1 mt-1">
            <img src="../img/1.jpg" alt="" class="img-fluid">
            <br>
            <br>
            <span class="">
              <a href="message-chat-box.html" class="mt-3 fs-13 fin-blue"><i class="fa fa-envelope"></i>
                Send message</a>
            </span>
          </div>
          <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="cc-user-info">
              <table>
                <tbody>
                  <tr>
                    <td class="cc-user-title pt-0">Full Name</td>
                    <td class="pt-0">{{dataObject?.fullName}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Email</td>
                    <td>{{dataObject?.email}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">User ID</td>
                    <td>{{dataObject?.userID}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Sign up</td>
                    <td>{{dataObject?.userCreated | dateAgo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Last seen</td>
                    <td>{{dataObject?.userLastSeen | dateAgo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Phone Number</td>
                    <td>{{dataObject?.phoneNo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Tenants</td>
                    <td>{{dataObject?.noOfTenants}}</td>
                  </tr>
                  <tr>
                    <td><a class="view-more" style="color:#158DED;">View more</a></td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="list-filter cc-user-tenants hide-msg" style="display: none;">
              <div class="accordion" id="accordion2">
                <div class="card">
                  <div class="card-header2" id="heading13">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse13" aria-expanded="false" aria-controls="collapse12">
                        Qualification
                      </button>
                    </h2>
                  </div>
                  <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion2">
                    <div class="card-body">
                      <table>
                        <tbody>
                          <tr>
                            <td class="cc-user-title pt-0">Name</td>
                            <td class="pt-0">Mary Doe</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Email</td>
                            <td>marydoe@sample.com</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Phone</td>
                            <td>+234 9022 345 667</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Company Name</td>
                            <td>Atbtechsoft</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header2" id="heading14">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse14" aria-expanded="false" aria-controls="collapse12">
                        Recent Page Views
                      </button>
                    </h2>
                  </div>
                  <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion2">
                    <div class="card-body">
                      <table>
                        <tbody>
                          <tr>
                            <td class="cc-user-title pt-0">License</td>
                            <td class="pt-0">1min ago</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Billing&Invoice</td>
                            <td>30mins ago</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Messenger</td>
                            <td>1day ago</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Invoice</td>
                            <td>7days ago</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header2" id="heading15">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse15" aria-expanded="false" aria-controls="collapse12">
                        Latest Conversation
                      </button>
                    </h2>
                  </div>
                  <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion2">
                    <div class="card-body">
                      <div class="chat_people">
                        <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" width="65%"
                            alt="sunil"></div>
                        <div class="chat_ib">
                          <h5>Closed by you<span class="chat_date">1h ago</span></h5>
                          <p>which is a new approach to have all solutions</p>
                        </div>
                      </div>
                      <br>
                      <div class="chat_people">
                        <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" width="65%"
                            alt="sunil"></div>
                        <div class="chat_ib">
                          <h5>Closed by you<span class="chat_date">5days ago</span></h5>
                          <p>which is a new approach to have all solutions.</p>
                        </div>
                      </div>
                      <br>
                      <div class="chat_people">
                        <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" width="65%"
                            alt="sunil"></div>
                        <div class="chat_ib">
                          <h5>Closed by you<span class="chat_date">1month ago</span></h5>
                          <p> which is a new approach to have all solutions</p>
                        </div>
                      </div>
                      <br>
                      <div class="chat_people">
                        <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" width="65%"
                            alt="sunil"></div>
                        <div class="chat_ib">
                          <h5>Closed by you<span class="chat_date">3months ago</span></h5>
                          <p> which is a new approach to have all solutions</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header2" id="heading16">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                        User Segments
                      </button>
                    </h2>
                  </div>
                  <div id="collapse16" class="collapse" aria-labelledby="heading15" data-parent="#accordion2">
                    <div class="card-body">
                      <div class="chat_people">
                        <div class="chat_ib">
                          <i class="fas fa-chart-pie fin-sec-color fs-12"></i> <span class="fs-14"
                            style="font-weight: 300">Active</span>
                          <br>
                          <br>
                          <i class="fas fa-chart-pie fin-sec-color fs-12"></i>
                          <span class="fs-14" style="font-weight: 300">Active Users ( 3
                            days)</span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header2" id="heading17">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                        Wavelengths IPs
                      </button>
                    </h2>
                  </div>
                  <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion2">
                    <div class="card-body">
                      <table>
                        <tbody>
                          <tr>
                            <td class="cc-user-title pt-0">Company
                              Id</td>
                            <td class="pt-0">45</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">People</td>
                            <td>5</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Monthly Spend
                            </td>
                            <td>$0.00</td>
                          </tr>
                          <tr>
                            <td class="cc-user-title">Company
                              website</td>
                            <td>unknown</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-10 col-xl-6 list-filter cc-user-tenants">
            <h4 class="text-uppercase text-left fs-16 fw-500 mb-3">Tenants</h4>
            <div class="accordion" id="accordion1">
              <div class="card" *ngFor="let tenant of dataObject?.tenants">
                <div class="card-header" [id]="'heading' + tenant.id">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      [attr.data-target]="'#collapse' + tenant.id" aria-expanded="true"
                      [attr.aria-controls]="'collapse' + tenant.id">
                      {{tenant.name}}
                    </button>
                  </h2>
                </div>

                <div [id]="'collapse' + tenant.id" class="collapse" [attr.aria-labelledby]="'heading' + tenant.id"
                  data-parent="#accordion1">
                  <div class="card-body">
                    <table>
                      <tbody>
                        <tr>
                          <td class="cc-user-title pt-0">Tenant ID</td>
                          <td class="pt-0">{{tenant.id}}</td>
                          <td class="pt-0">
                            <img [src]="tenant.imgPath" style="border-radius: 50%;width: 50px; height: 50px;" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="cc-user-title">Created</td>
                          <td>{{tenant.userJoined | dateAgo}}</td>
                        </tr>
                        <tr>
                          <td class="cc-user-title">Plan</td>
                          <td>Signed Up 3 months ago</td>
                        </tr>
                        <tr>
                          <td class="cc-user-title">Address</td>
                          <td>{{tenant.address}}</td>
                        </tr>
                        <tr>
                          <td>
                            <a [routerLink]="['/tenants/status/' + tenant.id]" class="fin-sec-btn">View
                              tenant</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">
    <div class="chat">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
          <div class="chat-message-content clearfix">
            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo
              quasi ratione odio
              dolorum harum.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla
              accusamus magni
              vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

      </div> <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus>
          <input type="hidden">

        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="">
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>

    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
