/* .dropdown .dropdown-menu .dropdown-item:active {
  background-color: white;
} */

/* .dropdown-menu {
  overflow: auto;
  width: 270px;
  height: 90vh;
}

.add-dropdown-menu {
  overflow: auto;
  width: 270px;
  height: 90vh;
  top: 50px !important;
} */

/* .dropdown-menu a.dropdown-item:hover {
  color: #09e !important;
}

.dropdown-toggle:after {
  content: none
} */

.dropdown-list{
  width: 250px;
  padding: 20px;
}
.dropdown-list .profile{
  padding-bottom: 0px;
  padding-top: 0px;
}