<nav class="white-bg" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="../dashboard.html" class="brand-logo hide-on-med-and-down">
      <img src="../../../assets/img/notch-logo.svg" width="150px" alt="">
      <span>&nbsp;</span>
      <span class="cc-header">Command Center</span>
    </a>
    <div class="nav-option">
      <div class="row d-flex">
        <a href="#" id="quick-add-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
            class="fas fa-plus"></i></a>

        <div class="nav_search_icon">
          <a (click)="searchToggle()" class="material-icons" style="color: black;">search</a>
        </div>

        <div class="dropdown-menu add-dropdown-menu" aria-labelledby="quick-add-menu">
          <a class="dropdown-item" href="#">Add company</a>
          <a class="dropdown-item" href="#">Add lead</a>
          <a class="dropdown-item" href="#">Add contact</a>
          <a class="dropdown-item" href="#">Add schedule</a>
          <hr>
          <a class="dropdown-item" href="#">Create deal</a>
          <a class="dropdown-item" href="#">Create invoice</a>
          <a class="dropdown-item" href="#">Create quote</a>
          <a class="dropdown-item" href="#">Create new note</a>
          <a class="dropdown-item" href="#">Create task</a>
          <hr>
          <a class="dropdown-item" href="#">Send SMS</a>
          <a class="dropdown-item" href="#">Send mail</a>
          <a class="dropdown-item" href="#">Send WhatsApp message</a>
          <hr>
          <a class="dropdown-item" href="#">Make call</a>
          <a class="dropdown-item" href="#">Log activity</a>
          <a class="dropdown-item" href="#">Post to social media</a>
        </div>

        <div class="dropdown show nav-account">
          <a class="nav-account-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/1.jpg" alt="" style="margin-right: 10px; border-radius: 50%;">
            <span class="username">Olanrewaju Bolaji</span>
            <img src="../../../assets/img/caret_down.svg" alt="" style="margin-left: 10px;">
          </a>

          <div class="dropdown-menu dropdown-list" aria-labelledby="dropdownMenuButton">
            <div class="row">
              <a href="command-center-profile.html" style="display: flex;">
                <div class="profile col-md-3">
                  <img src="../../../assets/img/1.jpg" width="50px" height="50px" alt="">
                </div>
                <div class="profile col-md-9">
                  <p class="user">Mary Doe</p>
                  <p class="user-email">MaryDoe@test.com</p>
                  <p class="user-email"><a routerLink="/settings/user-profile">Edit Profile</a></p>
                </div>
              </a>
            </div>
            <div class="divider"></div>

            <div class="profile">
              <a routerLink="/settings/bank-setup" class="dropdown_link" style="padding-top: 0 !important;">Bank
                Setup</a>
            </div>
            <div class="divider"></div>
            <div class="profile">
              <a routerLink="/settings/bank-payment" class="dropdown_link" style="padding-top: 0 !important;">Bank
                Payment</a>
            </div>
            <div class="divider"></div>
            <div class="profile">
              <a routerLink="/settings/user-centre" class="dropdown_link"
                style="padding-top: 0 !important;">Settings</a>
            </div>
            <div class="divider"></div>
            <div class="profile">
              <a (click)="logout()" class="dropdown_link" style="padding-top: 0 !important;">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <form class="form-inline" *ngIf="activeView">
        <input class="nav-search" type="text" placeholder="Search" aria-label="Search" style="position: absolute; right: 1px;top: 85px;background: #fff; border-bottom-color: white; z-index: 9999;
box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 13px;" />
      </form>
    </div>

    <ul class="center hide-on-med-and-down web-nav">
      <li>
        <a [routerLink]="['/license/list']" [ngClass]="{'nav-active': this.router.url.includes('license')}"
          class="nav-active">License</a>
      </li>
      <li>
        <a [routerLink]="['/billing-invoice/list']"
          [ngClass]="{'nav-active': this.router.url.includes('billing-invoice')}" class="nav-active">Billing &
          Invoice</a>
      </li>
      <li>
        <a [routerLink]="['/email-manager/templates']"
          [ngClass]="{'nav-active': this.router.url.includes('email-manager')}" class="nav-active">Email
          Manager</a>
      </li>
      <li>
        <a [routerLink]="['/tenants/all']"
          [ngClass]="{'nav-active': this.router.url.includes('tenants') ? 'nav-active': this.router.url.includes('users')}"
          class="nav-active">Tenants &
          All Users</a>
      </li>
      <li>
        <a href="../command-center/all-message.html">Messenger</a>
      </li>
    </ul>

    <!-- Mobile View -->
    <ul id="nav-mobile" class="sidenav">
      <li>
        <a href="../dashboard.html">
          <img src="../../../assets/img/notch-logo.svg" width="150px" alt="">
        </a></li>
      <li class="nav-active"><a href="license-list.html">License</a></li>
      <li><a href="#">Billing & Invoice</a></li>
      <li><a href="#">EMail manager</a></li>
      <li><a href="#">Tenancy Management & All Users</a></li>

    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
