<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<div class="content" style="margin-top: 130px!important;">
  <div class="col-sm-12 content-list-title">
    <!-- <div class="m-auto text-center">
      <h5 class="text-center fin-pry-color">Bank Payment</h5>
    </div> -->
  </div>
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ECF2FB; width: 80%;">

      <div class="list-filter">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingTop">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop"
                  aria-expanded="true" aria-controls="collapseTop">
                  Today
                </button>
              </h2>
            </div>

            <div id="collapseTop" class="collapse show" aria-labelledby="headingTop" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked42">
                  <label class="custom-control-label" for="defaultUnchecked42">New
                    <span>(14)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked43">
                  <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTop2">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop2"
                  aria-expanded="true" aria-controls="collapseTop2">
                  Needs Attention
                </button>
              </h2>
            </div>

            <div id="collapseTop2" class="collapse" aria-labelledby="headingTop2" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked45">
                  <label class="custom-control-label" for="defaultUnchecked45">New
                    <span>(14)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked46">
                  <label class="custom-control-label" for="defaultUnchecked46">Needs Attention</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Profile Fit
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked11">
                  <label class="custom-control-label" for="defaultUnchecked11">Yes</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked13">
                  <label class="custom-control-label" for="defaultUnchecked13">No</label>
                </div>
                <br>
                <label for="filter1">Profile Score</label>
                <div class="d-flex">
                  <select class="gen-input browser-default form-control" id="filter1">
                    <option value="" disabled="" selected="">=</option>
                    <option value="1">
                      <</option> <option value="2">>
                    </option>
                    <option value="3">=</option>
                  </select>
                  <input type="text" placeholder="Enter figure" class="browser-default gen-input">
                  <!--<p style="margin: 0" class="input-label-perc">%</p>-->
                </div>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Winning Probability
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <label for="filter2">Winning Probability</label>
                <div class="d-flex">
                  <select class="gen-input browser-default form-control" id="filter2">
                    <option value="" disabled="" selected="">=</option>
                    <option value="1">
                      <</option> <option value="2">>
                    </option>
                    <option value="3">=</option>
                  </select>
                  <input type="text" placeholder="Enter figure" class="browser-default gen-input">
                  <p style="margin: 0" class="input-label-perc">%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Lead Owner
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked6">
                  <label class="custom-control-label" for="defaultUnchecked6">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked15">
                  <label class="custom-control-label" for="defaultUnchecked15">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked14">
                  <label class="custom-control-label" for="defaultUnchecked14">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading4">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4"
                  aria-expanded="false" aria-controls="collapse4">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked12">
                  <label class="custom-control-label" for="defaultUnchecked12">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked16">
                  <label class="custom-control-label" for="defaultUnchecked16">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked17">
                  <label class="custom-control-label" for="defaultUnchecked17">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading5">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5"
                  aria-expanded="false" aria-controls="collapse5">
                  Inbound Emails
                </button>
              </h2>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked18">
                  <label class="custom-control-label" for="defaultUnchecked18">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked19">
                  <label class="custom-control-label" for="defaultUnchecked19">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked20">
                  <label class="custom-control-label" for="defaultUnchecked20">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading6">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6"
                  aria-expanded="false" aria-controls="collapse6">
                  Lead Source
                </button>
              </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked21">
                  <label class="custom-control-label" for="defaultUnchecked21">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked22">
                  <label class="custom-control-label" for="defaultUnchecked22">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked23">
                  <label class="custom-control-label" for="defaultUnchecked23">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading7">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7"
                  aria-expanded="false" aria-controls="collapse7">
                  Not Engaged
                </button>
              </h2>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked24">
                  <label class="custom-control-label" for="defaultUnchecked24">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked25">
                  <label class="custom-control-label" for="defaultUnchecked25">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked26">
                  <label class="custom-control-label" for="defaultUnchecked26">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading8">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8"
                  aria-expanded="false" aria-controls="collapse8">
                  Created on
                </button>
              </h2>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked27">
                  <label class="custom-control-label" for="defaultUnchecked27">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked28">
                  <label class="custom-control-label" for="defaultUnchecked28">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked29">
                  <label class="custom-control-label" for="defaultUnchecked29">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading11">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11"
                  aria-expanded="false" aria-controls="collapse11">
                  Purchase Timeline
                </button>
              </h2>
            </div>
            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked35">
                  <label class="custom-control-label" for="defaultUnchecked35">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked36">
                  <label class="custom-control-label" for="defaultUnchecked16">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked37">
                  <label class="custom-control-label" for="defaultUnchecked37">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading9">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9"
                  aria-expanded="false" aria-controls="collapse9">
                  Knowledge on Budget
                </button>
              </h2>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked30">
                  <label class="custom-control-label" for="defaultUnchecked30">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked31">
                  <label class="custom-control-label" for="defaultUnchecked31">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked32">
                  <label class="custom-control-label" for="defaultUnchecked32">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading10">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10"
                  aria-expanded="false" aria-controls="collapse10">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked10">
                  <label class="custom-control-label" for="defaultUnchecked10">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked33">
                  <label class="custom-control-label" for="defaultUnchecked33">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked34">
                  <label class="custom-control-label" for="defaultUnchecked34">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading12">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12"
                  aria-expanded="false" aria-controls="collapse12">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked39">
                  <label class="custom-control-label" for="defaultUnchecked39">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked40">
                  <label class="custom-control-label" for="defaultUnchecked40">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked41">
                  <label class="custom-control-label" for="defaultUnchecked41">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-10 col-lg-9 col-md-8 content-list">
      <div class="list">
        <div class="row content-list-header">
          <div class="col-md-6 text-left filter-actions-top">
            <div class="text-left">
              <h5 class="fin-pry-color">Bank Payment</h5>
            </div>
          </div>
          <div class="col-md-6 content-list-buttons">
            <button class="fin-sec-btn mr-1" [disabled]="loader.main.showSpinner">EXPORT</button>
          </div>
        </div>

        <!-- Main Loader -->
        <loading-spinner [spinnerSet]="loader.main" *ngIf="loader.main.showSpinner"></loading-spinner>

        <!-- Display Table -->
        <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
          [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
          [bodyrows]="dataSource" *ngIf="!loader.main.showSpinner">
        </inn-datatable>
      </div>
    </div>
  </div>
</div>
