<div class="row" style="margin-left: auto; margin-right: auto;"></div>

<loading-spinner [spinnerStatus]="setSpinnerStatus" [spinnerType]="spinnerType" *ngIf="showSpinner">
</loading-spinner>

<div class="" style="margin-top: 90px; padding: 0 1%;" *ngIf="!showSpinner">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-12 col-lg-12 col-md-12 content-list" style="height: 100%;">
      <div class="list">
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row content-list-header" style="padding-top: 10px;">
            <div class="col-md-8 text-left filter-actions-top">
              <div style="width: 30%; margin-right: 15px;">
                <label for="tenantID">Select Tenant <sup class="text-danger">*</sup></label>
                <br />
                <select class="gen-input browser-default form-control pl-1" style="width: 100%;"
                  formControlName="tenantID" name="tenantID" (change)="onChangeTenant()" *ngIf="tenantId > 0"
                  [attr.disabled]="true">
                  <option value="" disabled="" selected=""> Tenants</option>
                  <option [value]="tenant?.id" *ngFor="let tenant of arrayTenants">
                    {{ tenant?.name }}
                  </option>
                </select>
                <select class="gen-input browser-default form-control pl-1" style="width: 100%;"
                  formControlName="tenantID" name="tenantID" (change)="onChangeTenant()" required *ngIf="!tenantId">
                  <option value="" disabled="" selected=""> Tenants</option>
                  <option [value]="tenant?.id" *ngFor="let tenant of arrayTenants">
                    {{ tenant?.name }}
                  </option>
                </select>
                <div class="mt-2" *ngIf="
                    (f.tenantID.dirty || f.tenantID.touched) &&
                    f.tenantID.invalid
                  ">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.tenantID.errors.required">
                    Tenant is required.
                  </span>
                </div>
              </div>
              <div style="width: 30%; margin-right: 15px;">
                <label for="currency">Select currency <sup class="text-danger">*</sup></label>
                <br />
                <select class="gen-input browser-default ml-1 form-control pl-1" style="width: 100%;"
                  formControlName="currency" name="currency" (change)="onChangeCurrency()" required>
                  <option value="" disabled="" selected="">Select Currency</option>
                  <option value="NGN">Naira</option>
                  <option value="USD">Dollar</option>
                  <!-- <option value="EUR">Euro</option> -->
                </select>
                <div class="mt-2" *ngIf="
                    (f.currency.dirty || f.currency.touched) &&
                    f.currency.invalid
                  ">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.currency.errors.required">
                    Currency is required.
                  </span>
                </div>
              </div>
              <div style="width: 30%;">
                <label for="paymentMethod">Select Payment Plan <sup class="text-danger">*</sup></label>
                <br />
                <select class="gen-input browser-default ml-2 form-control pl-1" style="width: 100%;"
                  formControlName="paymentMethod" name="paymentMethod" (change)="onChangePaymentMethod()" required>
                  <option value="" disabled="" selected="">Select Payment Plan
                  </option>
                  <option value="MONTHLY">Monthly</option>
                  <!-- <option value="QUARTERLY">Quarterly</option> -->
                  <option value="ANNUALLY">Annually</option>
                </select>
                <div class="mt-2" *ngIf="
                    (f.paymentMethod.dirty || f.paymentMethod.touched) &&
                    f.paymentMethod.invalid
                  ">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.paymentMethod.errors.required">
                    Payment Plan is required.
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-left filter-actions-top" style="padding-top: 10px;">
              <div style="width: 30%; margin-right: 15px;">
                <label for="type">Plan Type <sup class="text-danger">*</sup></label>
                <br />
                <select style="width: 100%;" formControlName="type" name="type"
                  class="gen-input browser-default form-control pl-1" required>
                  <option value="" disabled="" selected="">
                    Select Plan Type</option>
                  <option value="TRIAL"> Trial</option>
                  <option value="REGULAR"> Regular</option>
                </select>
                <div class="mt-2" *ngIf="(f.type.dirty || f.type.touched) && f.type.invalid">
                  <span class="text-danger" style="font-size: 13px;" *ngIf="f.type.errors.required">
                    Plan Type is required.
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Editable table -->
          <div style="margin-top: 5rem;">
            <div class="card" style="margin-top: 30px;">
              <!-- <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Create Quotes</h3> -->
              <div class="card-body">
                <!-- Table -->
                <div id="table" class="table-editable">
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                      <th class="text-center">
                        License <sup class="text-danger">*</sup>
                      </th>
                      <th class="text-center">
                        Description <sup class="text-danger">*</sup>
                      </th>
                      <th class="text-center">Unit Price</th>
                      <!-- <th class="text-center">
                        Quantity <sup class="text-danger">*</sup>
                      </th> -->
                      <!-- <th class="text-center">
                        Tax <sup class="text-danger">*</sup>
                      </th> -->
                      <!-- <th class="text-center">Tax Amount</th> -->
                      <th class="text-center">Amount</th>
                      <!-- <th class="text-center"></th> -->
                    </tr>
                    <tr class="text-center">
                      <td class="pt-3-half">
                        <select name="" style="width: 100%;" formControlName="licenseID" (change)="onChangeLicense()"
                          required>
                          <option value="" disabled="" selected="">
                            Choose license</option>
                          <option [value]="license?.id" *ngFor="let license of arrayLicenses">
                            {{ license?.name }}
                          </option>
                        </select>
                      </td>
                      <td class="pt-3-half" contenteditable="true">
                        <input type="text" formControlName="descrip" disabled />
                      </td>
                      <td class="pt-3-half">
                        <input type="number" name="unitPrice" formControlName="unitPrice" disabled />
                      </td>
                      <!-- <td class="pt-3-half">
                        <input type="number" name="quantity" (input)="handleComputation()" formControlName="quantity" />
                      </td> -->
                      <!-- <td class="pt-3-half">
                        <select name="tax" style="width: 100%;" formControlName="tax" (change)="handleComputation()"
                          (click)="handleTaxSelection()">
                          <option value="" disabled="" selected="">Tax type</option>
                          <option value="none">No tax</option>
                          <option value="vat">VAT(5%)</option>
                        </select>
                      </td> -->
                      <!-- <td class="pt-3-half">
                        <input type="number" name="taxAmount" formControlName="taxAmount" disabled />
                      </td> -->
                      <td class="pt-3-half">
                        <input type="number" name="amount" formControlName="amount" disabled />
                      </td>
                      <!-- <td class="text-center">
                        <span class="table-remove">
                          <i class="fas fa-trash hov-pointer-black text-danger"></i>
                        </span>
                      </td> -->
                    </tr>
                  </table>
                </div>
                <!-- Overlay  -->
                <div class="tb-overlay" *ngIf="
                    !(
                      f.tenantID.valid &&
                      f.currency.valid &&
                      f.paymentMethod.valid &&
                      f.type.valid
                    )
                  ">
                  <div class="box">
                    Fields with <span class="text-danger">*</span> are required
                    to enable this view
                  </div>
                </div>
                <!-- Loader  -->
                <div class="tb-overlay" *ngIf="loader.overlay">
                  <div class="box">
                    <span><i class="fa fa-spinner fa-spin"></i> Please
                      wait...</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Editable table -->
            <div class="row">
              <div class="col-sm-6">
                <!-- <button class="fin-pry-btn mr-0 mt-3 expand-btn" [disabled]="!invoiceForm.valid" [ladda]="isLoading"
                  data-style="zoom-in" type="submit">Save
                </button> -->
              </div>
              <div class="offset-sm-2 col-sm-4 right invoice-total">
                <table class="table table-borderless text-right mt-3 pt-3">
                  <tbody>
                    <tr *ngIf="f.licenseID.valid">
                      <th scope="row">Total Amount</th>
                      <td title="View more options" class="tooltip-test">
                        <!-- <span class="currency">{{ selectedCurrency }}</span> -->
                        {{ f.totalAmount.value | currency: selectedCurrency }}
                      </td>
                    </tr>
                    <!-- <tr>
                      <th scope="row">
                        Amount Paid <span class="pl-1"> (17-07-2019)</span>
                      </th>
                      <td title="View more options" class="tooltip-test">
                        <span class="currency">₦ </span>11,25
                      </td>
                    </tr> -->
                    <!-- <tr class="last-row">
                      <th scope="row">
                        <h4>Balance</h4>
                      </th>
                      <td title="View more options" class="tooltip-test">
                        <h4><span class="currency">₦</span> 90,25</h4>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->

          <div class="content-list-buttons mt-5">
            <button type="button" class="fin-sec-btn mr-2" *ngIf="!isLoading" [routerLink]="['/billing-invoice/list']">
              Cancel
            </button>
            <button class="fin-pry-btn" type="submit" [disabled]="!invoiceForm.valid" [ladda]="isLoading"
              data-style="zoom-in">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">
    <div class="chat">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
              explicabo quasi ratione odio dolorum harum.
            </p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />

        <div class="chat-message clearfix">
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis, nulla accusamus magni vel debitis numquam qui tempora
              rem voluptatem delectus!
            </p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />

        <div class="chat-message clearfix">
          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" />

          <div class="chat-message-content clearfix">
            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->

        <hr />
      </div>
      <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus />
          <input type="hidden" />
        </fieldset>
      </form>
    </div>
    <!-- end chat -->
  </div>
  <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="" />
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>
    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
