<div class="row" style="margin-left: auto; margin-right: auto">
  <nav class="sub-nav">
    <ul class="sub-nav-items text-center">
      <li><a [routerLink]="['/tenants/all']">Tenants</a></li>
      <li><a [routerLink]="['/users/all']" class="nav-active">All users</a>
    </ul>
  </nav>
</div>

<div class="content" style="margin-top: 90px;">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ECF2FB; width: 80%;">

      <ng-template [ngIf]="dataSource">
        <!-- Filters -->
        <app-data-filter [dataChanged]="dataFilter.dataChangedObs" [accordions]="dataFilter.accordions"
          [dataSource]="dataSource" (filteredSource)="dataSourceListener($event)"></app-data-filter>
      </ng-template>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8 content-list">
      <!-- Loader -->
      <loading-spinner [spinnerStatus]="setSpinnerStatus" (reloadSpinner)="retry($event)" [spinnerType]="spinnerType"
        *ngIf="showSpinner"></loading-spinner>

      <!-- Main Section -->
      <div class="list" *ngIf="!showSpinner">
        <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
          [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
          [bodyrows]="dataSource">
        </inn-datatable>


        <!-- Display No Data Notification -->
        <div class="col-12 text-center my-5" *ngIf="dataSource.length === 0">
          <div class="content-list-header my-2">
            <i class="fa fa-exclamation-circle fa-3x my-3 text-primary"></i><br>
            <h6 class="text-muted">No available data!</h6>
            <label class="text-muted">Please check back.</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">
    <div class="chat">
      <div class="chat-history">

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio
              dolorum harum.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
              vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

      </div> <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus>
          <input type="hidden">

        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="">
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>

    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
