<div class="content settings-content">
  <div class="row" style="width: 100%; margin: 0;">

    <div class="col-md-12 settings-wrapper">

      <header class="settings-header">
        <h1>Settings</h1>
      </header>


      <div class="row">
        <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <div class="left-nav-grp">
            <div class="nav-menu">
              <div class="left-nav-header">
                <p>GENERAL</p>
              </div>
              <ul class="nav-menu1" style="border-bottom: none!important;">
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-centre']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-centre')}">User and Roles
                    access</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-roles']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-roles')}">Roles</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/bank-setup']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/bank-setup')}">Bank Setup</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-10">
          <div class="settings-header">
            <h1>Roles and creation</h1>
            <!--<p>Set up Roles</p>-->
          </div>
          <div class="settings-label">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-5" style="padding-top: 20px;">
                <label>Roles</label>
                <div class="list-card">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row" style="border-top: none;">Role name
                        </th>
                        <td style="font-weight: bold !important; border-top: none; cursor: pointer;">
                          <a class="fin-sec-btn" href="command-role-edit.html">Edit</a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Role name</th>
                        <td style="font-weight: bold !important; border-top: none; cursor: pointer;">
                          <a class="fin-sec-btn" href="command-role-edit.html">Edit</a>
                        </td>
                      </tr>
                      <tr style="position: relative;">
                        <th scope="row">Role name</th>
                        <td style="font-weight: bold !important; border-top: none; cursor: pointer;">
                          <a class="fin-sec-btn" href="command-role-edit.html">Edit</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="button" class="fin-pry-btn mt-3 right" data-toggle="modal" data-target="#ModalCenter2"
                  style="margin-top: -13px;">
                  Add Role
                </button>
                <!-- Add Role Modal -->
                <div class="modal fade" id="ModalCenter2" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalCenterTitle">Add Role</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="col-md-12 pt-3">
                            <label for="fname">Role Name</label>
                            <br>
                            <input type="text" id="fname" name="fname" class="w-100 gen-input browser-default"
                              value="Enter Role Name">
                          </div>
                        </form>
                      </div>
                      <br>
                      <div class="modal-footer">
                        <button type="button" class="fin-sec-btn" data-dismiss="modal">Close
                        </button>
                        <button type="button" class="fin-pry-btn">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Role Modal End-->
              </div>
              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 role-creation-tab" style="padding-top: 20px;">
              </div>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="offset-xl-8 pt-3" style="padding-left: 35px;">-->
          <!--<button class="fin-pry-btn" style="margin-top: -13px; margin-left: 15px;">INVITE-->
          <!--</button>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="right fin-pry-btn">INVITE</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        </div>
        <!--<form>-->
        <!--<input type="email" id="email" name="email" class="gen-input2 browser-default" style="width: 400px">-->
        <!--</form>-->
      </div>
    </div>
  </div>

</div>
