<div class="content settings-content">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-md-12 settings-wrapper">
      <header class="settings-header">
        <!--<p>Atbtechsoft Company</p>-->

        <h1>Profile Settings</h1>
      </header>
      <div class="row">
        <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <div class="left-nav-grp">
            <div class="nav-menu">
              <!--<div class="left-nav-header">-->
              <!--<p>GENERAL</p>-->
              <!--</div>-->
              <ul class="nav-menu1" style="border: none !important;">
                <li>
                  <a routerLink="/settings/user-profile" routerLinkActive="nav-menu-active" >Personal Profile</a>
                </li>
                <li>
                  <a routerLink="/settings/change-password" routerLinkActive="nav-menu-active">Change Password</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-10">
          <div class="settings-header">
            <!--<div class="row">-->
            <!--<div class="col-xl-3 col-sm-12">-->
            <h1>Personal Profile</h1>
            <ul class="nav nav-tabs" role="tablist">

            </ul>
            <!--<p>Set up Roles</p>-->
          </div>
          <div class="settings-label container">
            <div class="row">
              <!--<input type="file" class="filepond" name="filepond"-->
              <!--accept="image/png, image/jpeg, image/gif"/>-->
              <div class="col-sm-12 pt-3 d-flex mt-3">
                <div class="avatar-upload left">
                  <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview"
                      style="background-image: url(http://ssl.gstatic.com/accounts/ui/avatar_2x.png);">
                    </div>
                  </div>
                </div>
                <div class="d-block pt-3">
                  <span class="avatar-username">Michael Imara</span>
                  <br>
                  <span class="username-des">testuser@msn.com</span>
                  <br>
                  <span class="username-des user-role-profile">Super Admin</span>
                </div>
              </div>
              <!--<div class="col">-->
              <!--<form id="form1" runat="server">-->
              <!--<input type='file' id="imgInp" />-->
              <!--<img id="my-image" src="#" />-->
              <!--</form>-->
              <!--<button id="use">Upload</button>-->
              <!--<img id="result" src="">-->
              <!--</div>-->
            </div>
            <div class="row mt-3 pt-3">
              <div class="col-sm-12">
                <h6 class="fw-500 fin-pry-color">User Information</h6>
              </div>
              <div class="col-md-5 pt-3">
                <label for="fname">First Name</label>
                <br>
                <input type="text" id="fname" name="fname" class="w-100 gen-input browser-default" value="Michael">
              </div>
              <div class="col-md-5 pt-3">
                <label for="lname">Last Name</label>
                <br>
                <input type="text" id="lname" name="lname" class="w-100 gen-input browser-default" value="Imara">
              </div>
            </div>
            <div class="row mt-3 pt-3">
              <div class="col-md-5 pt-3">
                <label for="phone">Phone</label>
                <br>
                <input type="text" id="phone" name="phone" class="w-100 gen-input browser-default">
              </div>
              <div class="col-md-5 pt-3">
                <label for="phone2">Mobile</label>
                <br>
                <input type="text" id="phone2" name="phone2" class="w-100 gen-input browser-default">
              </div>
            </div>
            <div class="row mt-3 pt-3">
              <div class="col-md-5 pt-3">
                <label for="date">Date of Birth</label>
                <br>
                <input type="text" id="date" name="date" class="w-100 gen-input browser-default">
              </div>
              <div class="col-md-5 pt-3">
                <label for="website">Website</label>
                <br>
                <input type="text" id="website" name="website" class="w-100 gen-input browser-default">
              </div>
            </div>
            <div class="row mt-3 pt-3">
              <div class="col-sm-12">
                <h6 class="fw-500 fin-pry-color">Address Information</h6>
              </div>
              <div class="col-md-5 pt-3">
                <label for="address">Street</label>
                <br>
                <input type="text" id="address" name="address" class="w-100 gen-input browser-default">
              </div>
              <div class="col-md-5 pt-3">
                <label for="city">City</label>
                <br>
                <input type="text" id="city" name="city" class="w-100 gen-input browser-default">
              </div>
            </div>
            <div class="row mt-3 pt-3">
              <div class="col-md-5 pt-3">
                <label for="state">State</label>
                <br>
                <input type="text" id="state" name="state" class="w-100 gen-input browser-default">
              </div>
              <div class="col-md-5 pt-3">
                <label>Country</label>
                <br>
                <select name="" id="mselect">
                  <option value="1">Select country</option>
                  <option value="2">Nigeria</option>
                  <option value="3">Ghana</option>
                  <option value="4">United States of America</option>
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-5 offset-sm-5 pt-3">
                <button type="submit" class="fin-pry-btn right">save</button>
              </div>
            </div>
          </div>
          <div class="settings-label tab-pane fade" id="create-customer-source" role="tabpanel"
            aria-labelledby="create-customer-source-tab">

          </div>
          <!--<div class="row">-->
          <!--<div class="offset-xl-8 pt-3" style="padding-left: 35px;">-->
          <!--<button class="fin-pry-btn" style="margin-top: -13px; margin-left: 15px;">INVITE-->
          <!--</button>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="right fin-pry-btn">INVITE</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        </div>
      </div>
      <!--<form>-->
      <!--<input type="email" id="email" name="email" class="gen-input2 browser-default" style="width: 400px">-->
      <!--</form>-->
    </div>
  </div>
</div>
