<div class="content settings-content">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-md-12 settings-wrapper">

      <header class="settings-header">
        <h1>Settings</h1>
      </header>

      <!-- MODALS -->

      <!-- Invite User Modal -->
      <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form [formGroup]="userForm" #userForm1 role="form">
              <div class="modal-header">
                <h5 class="modal-title" id="inviteModal">Invite User</h5>
                <button type="button" class="close" id="closeinviteModal" data-dismiss="modal" aria-label="Close"
                  [disabled]="loader.invite">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>User Email <sup class="text-danger">*</sup></label>
                    <br>
                    <input type="email" id="email" formControlName="email" name="email" placeholder="Email Address"
                      class="gen-input2 browser-default w-100" />
                    <div class="mt-2" *ngIf="(u.email.dirty || u.email.touched) && u.email.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="u.email.errors.required">
                        Email is required.
                      </span>
                      <span class="text-danger" style="font-size: 13px;" *ngIf="u.email.errors.pattern">
                        Email is invalid.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>First Name <sup class="text-danger">*</sup></label>
                    <br>
                    <input type="text" id="name" formControlName="firstName" name="fname" placeholder="First Name"
                      class="gen-input2 browser-default w-100" />
                    <div class="mt-2" *ngIf="(u.firstName.dirty || u.firstName.touched) && u.firstName.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="u.firstName.errors.required">
                        First Name is required.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Last Name <sup class="text-danger">*</sup></label>
                    <br>
                    <input type="text" id="name" formControlName="lastName" name="lname" placeholder="Last Name"
                      class="gen-input2 browser-default w-100" />
                    <div class="mt-2" *ngIf="(u.lastName.dirty || u.lastName.touched) && u.lastName.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="u.lastName.errors.required">
                        Last Name is required.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <br>
                    <ng-select [items]="arrayRoles" [multiple]="true" [selectOnTab]="true" placeholder="Select role(s)"
                      formControlName="roles">
                    </ng-select>
                    <div class="mt-2" *ngIf="(u.roles.dirty || u.roles.touched) && u.roles.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="u.roles.errors.required">
                        Role Name is required.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="fin-sec-btn" data-dismiss="modal" [hidden]="loader.invite">
                  Close
                </button>
                <button type="button" class="fin-pry-btn" [ladda]="loader.invite"
                  [disabled]="userForm.invalid || loader.invite" data-style="slide-right" (click)="onInviteUser()">
                  Send Invite
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Invite User Modal End -->

      <!-- MAIN -->
      <div class="row">
        <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <div class="left-nav-grp">
            <div class="nav-menu">
              <div class="left-nav-header">
                <p>GENERAL</p>
              </div>
              <ul class="nav-menu1" style="border-bottom: none!important;">
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-centre']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-centre')}">User and Roles
                    access</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-roles']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-roles')}">Roles</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/bank-setup']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/bank-setup')}">Bank Setup</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <div class="settings-header">
            <h1>User and Roles access</h1>
            <!--<p>This where you invite and administer roles to Users</p>-->
            <div class="text-right">
              <button type="button" class="fin-sec-btn" data-toggle="modal" data-target="#inviteModal">
                Invite User
              </button>
            </div>
          </div>
          <div class="settings-label">
            <hr>
            <!-- INVITE USER TABLE -->
            <div class="row users-invited">
              <div class="col-md-12">

                <!-- Table -->
                <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
                  [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
                  [bodyrows]="arrayUsers">
                </inn-datatable>

                <div style="display: none;">
                  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                    width="100%">
                    <thead>
                      <tr>
                        <th class="th-sm">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input text-center checkbox-all"
                              id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked"></label>
                          </div>
                        </th>
                        <th class="th-sm">Email

                        </th>
                        <th class="th-sm">Full Name

                        </th>
                        <th class="th-sm">Role

                        </th>
                        <th class="th-sm">Position

                        </th>
                        <th class="th-sm">Creation Date

                        </th>
                        <th class="th-sm">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row">
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input text-center" id="defaultUnchecked1">
                            <label class="custom-control-label" for="defaultUnchecked1"></label>
                          </div>
                        </td>
                        <td>test@user.com</td>
                        <td>Test User</td>
                        <td>General Overseer</td>
                        <td>Sales Person</td>
                        <td>12-06-2017</td>
                        <td style="font-weight: bold !important; cursor: pointer; text-align: center;">
                          <div id="dropdownMenuLink15" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span>.</span>
                            <span>.</span>
                            <span>.</span>
                          </div>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink15">
                            <a class="dropdown-item" href="supervisor.html">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                          </div>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input text-center" id="defaultUnchecked12">
                            <label class="custom-control-label" for="defaultUnchecked12"></label>
                          </div>
                        </td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td style="font-weight: bold !important; cursor: pointer; text-align: center;">
                          <div id="dropdownMenuLink10" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span>.</span>
                            <span>.</span>
                            <span>.</span>
                          </div>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink10">
                            <a class="dropdown-item" href="sales-workflow-within.html">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input text-center" id="defaultUnchecked4">
                            <label class="custom-control-label" for="defaultUnchecked4"></label>
                          </div>
                        </td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td style="font-weight: bold !important; cursor: pointer; text-align: center;">
                          <div id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>.</span>
                            <span>.</span>
                            <span>.</span>
                          </div>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                            <a class="dropdown-item" href="sales-workflow-within.html">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
