<div class="content settings-content">
  <div class="row" style="width: 100%; margin: 0;">

    <div class="col-md-12 settings-wrapper">

      <header class="settings-header">
        <h1>Settings</h1>
      </header>


      <div class="row">
        <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <div class="left-nav-grp">
            <div class="nav-menu">
              <div class="left-nav-header">
                <p>GENERAL</p>
              </div>
              <ul class="nav-menu1" style="border-bottom: none!important;">
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-centre']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-centre')}">User and Roles
                    access</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/user-roles']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/user-roles')}">Roles</a>
                </li>
                <li>
                  <a class="nav-menu-active" [routerLink]="['/settings/bank-setup']"
                    [ngClass]="{'nav-menu-active': this.router.url.includes('settings/bank-setup')}">Bank Setup</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-9">

          <!-- LOADER -->
          <loading-spinner [spinnerType]="'sharp'" *ngIf="loader.main"></loading-spinner>

          <!-- MAIN CONTENT -->
          <div *ngIf="!loader.main">
            <div class="settings-header">
              <h1>Bank/Receiving Account Setup</h1>
              <p>These enables you to setup your receiving account bank details.</p>
            </div>

            <div class="settings-label" id="create-lead-source" role="tabpanel"
              aria-labelledby="create-lead-source-tab">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4" style="padding-top: 30px;">
                  <form [formGroup]="addBankForm">
                    <label>Bank</label>
                    <br>
                    <input type="text" id="bank" name="bank" formControlName="bank" placeholder="Enter bank name"
                      class="gen-input2 browser-default">
                    <div class="mt-2" *ngIf="(bf.bank.dirty || bf.bank.touched) && bf.bank.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="bf.bank.errors.required">
                        Please enter bank.
                      </span>
                    </div>
                    <br>
                    <br>
                    <label for="name" class="">Account Number</label>
                    <input type="number" id="accountNo" name="accountNo" formControlName="accountNo"
                      placeholder="Enter account number" class="gen-input2 browser-default">
                    <div class="mt-2" *ngIf="(bf.accountNo.dirty || bf.accountNo.touched) && bf.accountNo.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="bf.accountNo.errors.required">
                        Account Number is required.
                      </span>
                    </div>
                    <br>
                    <br>
                    <label>Account Name</label>
                    <br>
                    <input type="text" id="accountName" name="accountName" formControlName="accountName"
                      placeholder="Enter account name" class="gen-input2 browser-default">
                    <div class="mt-2"
                      *ngIf="(bf.accountName.dirty || bf.accountName.touched) && bf.accountName.invalid">
                      <span class="text-danger" style="font-size: 13px;" *ngIf="bf.accountName.errors.required">
                        Account Name is required.
                      </span>
                    </div>
                    <button type="button" class="fin-pry-btn mt-3 right" style="margin-top: -13px;"
                      [disabled]="addBankForm.invalid || loader?.add" [ladda]="loader?.add" data-style="slide-left"
                      (click)="onCreateAccount()">
                      Add
                    </button>
                  </form>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-8 col-xl-8"
                  style="padding-top: 20px; border-left: 1px solid #dee2e6">

                  <!-- Display Table -->
                  <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
                    [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
                    [bodyrows]="arrayBanks">
                  </inn-datatable>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
