<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<div class="content" style="margin-top: 90px;">
    <!--<div class="col-sm-12 content-list-title">-->
    <!--<div class="m-auto text-center">-->
    <!--&lt;!&ndash;<a href="credit-management-list.html" class="text-center left"> < Credit Profile</a>&ndash;&gt;-->
    <!--<h5 class="text-center fin-pry-color" style="font-weight: 600">Tenant Name</h5>-->
    <!--</div>-->
    <!--</div>-->

    <loading-spinner [spinnerStatus]="setSpinnerStatus" [spinnerType]="spinnerType" *ngIf="showSpinner">
    </loading-spinner>

    <div class="row pl-5 pr-5" style="width: 100%; margin: 0;" *ngIf="!showSpinner">
        <div class=" col-md-12 col-xl-12">
            <div class="license-card" style="margin: 0">
                <div class="license-card-header">
                    <h3 class="text-left">License Details</h3>
                </div>
                <div class="row">
                    <div class="col-md-6" style="border-right: 1px #e4e4e4 solid">
                        <div class="fin-blue" style="margin-top: 5%">
                            <h3>{{dataSource.name}}</h3>
                        </div>
                        <div class="container text-center" style="margin-top: 3%">
                            <p>{{dataSource.descrip}}</p>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-4" style="padding-left: 50px">
                        <div class="" style="margin-top: 5%;border-bottom: 1px #e4e4e4 solid;padding-bottom: 20px">
                            <h3 class="text-left">Description</h3>
                        </div>
                        <br>
                        <div style="margin-top: 1.2%" *ngFor="let module of dataSource.modules">
                            <p><i class="fa fa-check-circle fa-1x text-success mr-2"></i>{{module}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--3 cards below-->
        <div class="row" style="margin-top: 30px;width: 100%;margin-bottom: 50px">
            <div class="col-md-6">
                <div class="license-card">
                    <div class="license-card-header">
                        <h3 class="text-left">License Usage</h3>
                    </div>
                    <div class="license-card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="left" style="margin: 25px">
                                    <h3 style="margin-bottom: 30px">Max Users</h3>
                                    <p>{{dataSource.maxUsers}}</p>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="right" style="margin: 25px">
                                    <h3 style="margin-bottom: 30px">Usage</h3>
                                    <p>{{dataSource.maxStorage}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="right" style="margin: 25px">
                                    <h3 style="margin-bottom: 30px">Max Storage</h3>
                                    <p>{{dataSource.maxStorage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="license-card" style="height: 100%">
                    <div class="license-card-header">
                        <h3 class="text-left">Cost Of License</h3>
                    </div>
                    <div class="license-card-body">
                        <div class="left" style="margin: 25px">
                            <h3 class="text-left" style="margin-bottom: 30px">Description</h3>
                            <p>Monthly</p>
                            <p>Quarterly</p>
                            <p>Annualy</p>
                        </div>
                        <div class="right" style="margin: 25px">
                            <h3 class="text-right" style="margin-bottom: 30px">Amount</h3>
                            <p>{{dataSource.monthlyPrice | currency: 'NGN':'symbol'}}</p>
                            <p>{{dataSource.quarterlyPrice | currency: 'NGN':'symbol'}}</p>
                            <p>{{dataSource.annuallyPrice | currency: 'NGN':'symbol'}}</p>
                        </div>
                    </div>
                    <!--<div class="text-center fin-blue">-->
                    <!--<p>View all</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>

</div>