<!-- Wave -->
<div class="spinner" *ngIf="spinnerSet.type==='wave'">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
  <label class="text-muted spinner-text">{{spinnerSet.status}}</label>
  <!-- <label class="text-muted spinner-text">{{spinnerSet.type}}</label> -->
</div>

<!-- Fading Circle -->
<div class="sk-fading-circle" *ngIf="spinnerSet.type==='fadingCircle'">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
  <label class="text-muted spinner-text">{{spinnerSet.status}}</label>
</div>

<!-- Spinner Jsbin -->
<div class="spinner-jsbin" *ngIf="spinnerSet.type==='jsBin'"></div>

<!-- Error Card -->
<div class="container error-card" [ngStyle]="spinnerSet.styles" *ngIf="spinnerSet.type==='errorCard'">
  <div class="content-list-header my-2">
    <i class="fa fa-exclamation-circle fa-3x mb-3 text-primary"></i><br>
    <strong class="text-muted my-2">We couldn't load the data.</strong>
    <br>
    <label class="text-muted">Reload to try again.</label>
  </div>
  <button class="fin-sec-btn" type="button" (click)="retry(spinnerSet.type)">Reload</button>
</div>

<!-- NO DATA DISPLAY -->
<div class="container error-card" [ngStyle]="spinnerSet.styles" *ngIf="spinnerSet.type==='dataless'">
  <div class="content-list-header my-2">
    <i class="fa fa-exclamation-circle fa-3x mb-3 text-primary"></i><br>
    <strong class="text-muted my-2">{{dataless.title}}</strong>
    <br>
    <label class="text-muted">{{dataless.subTitle}}.</label>
  </div>
  <button class="fin-sec-btn" type="button" (click)="action(spinnerSet.type)">{{ dataless.action }}</button>
</div>

<!-- SHARP LOADER -->
<div class="sharp-loader-container" [ngStyle]="spinnerSet.styles" *ngIf="spinnerSet.type==='sharp'">
  <div class="sharp__loader" title="1">
    <svg class="sharp__svg" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50"
      style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#000"
        d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
          dur="0.6s" repeatCount="indefinite"></animateTransform>
      </path>
    </svg>
    <br>
    <p>
      {{spinnerSet.status}}
    </p>
  </div>
</div>
