<div class="row" style="margin-left: auto; margin-right: auto;"></div>

<div class="" style="margin-top: 90px; padding: 0 1%;">
  <div class="row" style="width: 100%; margin: 0;">
    <!-- Filters -->
    <div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ecf2fb; width: 80%;">


      <ng-template [ngIf]="dataSource">
        <!-- Filters -->
        <app-data-filter [dataChanged]="dataFilter.dataChangedObs" [accordions]="dataFilter.accordions"
          [dataSource]="dataSource" [customFilters]="customFilters" (filteredSource)="dataSourceListener($event)">
        </app-data-filter>
      </ng-template>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8 content-list">
      <ng-template [ngIf]="loader.main.showSpinner">
        <!-- Loader -->
        <loading-spinner (reloadSpinner)="retry($event)" [spinnerSet]="loader.main">
        </loading-spinner>
        <!-- Loader Ends -->
      </ng-template>

      <ng-template [ngIf]="!loader.main.showSpinner">
        <!-- Main Section -->
        <div class="list">
          <div class="row content-list-header">
            <div class="col-md-12 text-left filter-actions-top">
              <div class="col-md-12 content-list-buttons">
                <button class="fin-sec-btn mr-2" (click)="exportTable()" [ladda]="this.loader.export"
                  data-style="slide-left" *ngIf="dataSource?.length > 0">
                  EXPORT
                </button>
                <a [routerLink]="['/license/create-new']">
                  <button class="fin-pry-btn">CREATE LICENSE</button>
                </a>
              </div>
            </div>
          </div>

          <!-- Display Table -->
          <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
            [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
            [bodyrows]="dataSource">
          </inn-datatable>

        </div>
      </ng-template>
    </div>

    <!-- Filters -->
    <div class="list-filter cc--filter" style="display: none;">
      <div class="accordion">
        <!-- License Name -->
        <div class="card">
          <div class="card-header" id="headingTop" data-toggle="collapse" data-target="#collapseTop"
            aria-expanded="true" aria-controls="collapseTop">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button">
                License Name
              </button>
            </h2>
          </div>
          <div id="collapseTop" class="collapse show" aria-labelledby="headingTop">
            <div class="card-body body-sm">
              <div class="custom--filters">
                <div class="ft--search">
                  <input type="text" name="" id="" placeholder="Search..." />
                  <i class="fa fa-search"></i>
                </div>
                <div class="ft-box-vertical">
                  <div class="custom-control custom-checkbox" for="defaultUnchecked42">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked42" />
                    <label class="custom-control-label" for="defaultUnchecked42">New <span>(14)</span></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked43" />
                    <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked42" />
                    <label class="custom-control-label" for="defaultUnchecked42">New <span>(14)</span></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked43" />
                    <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked42" />
                    <label class="custom-control-label" for="defaultUnchecked42">New <span>(14)</span></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked43" />
                    <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked42" />
                    <label class="custom-control-label" for="defaultUnchecked42">New <span>(14)</span></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked43" />
                    <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked42" />
                    <label class="custom-control-label" for="defaultUnchecked42">New <span>(14)</span></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked43" />
                    <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                  </div>
                </div>

                <br />
              </div>
            </div>
          </div>
        </div>

        <!-- Max User  -->
        <div class="card">
          <div class="card-header" id="headingTop01">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop01"
                aria-expanded="true" aria-controls="collapseTop01">
                Max User
              </button>
            </h2>
          </div>
          <div id="collapseTop01" class="collapse show" aria-labelledby="headingTop01">
            <div class="card-body body-sm pt-3">
              <div class="custom--filters">
                <div class="d-flex1">
                  <div class="ft-input-range">
                    <i class="fa fa-user"></i>
                    <input type="text" value="0" placeholder="Minimum" class="browser-default gen-input mr-1" />
                  </div>
                  <div></div>
                  <div class="ft-input-range">
                    <i class="fa fa-user"></i>
                    <input type="text" value="100000" placeholder="Maximum" class="browser-default gen-input" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Monthly Price  -->
        <div class="card">
          <div class="card-header" id="headingTop02">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop02"
                aria-expanded="true" aria-controls="collapseTop02">
                Monthly Price
              </button>
            </h2>
          </div>
          <div id="collapseTop02" class="collapse" aria-labelledby="headingTop02">
            <div class="card-body body-sm">
              <div class="custom--filters">
                <div class="d-flex1">
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="0" placeholder="Minimum" class="browser-default gen-input mr-1" />
                  </div>
                  <div></div>
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="100000" placeholder="Maximum" class="browser-default gen-input" />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>

        <!-- Quarterly Price  -->
        <div class="card">
          <div class="card-header" id="headingTop03">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop03"
                aria-expanded="true" aria-controls="collapseTop03">
                Quaterly Price
              </button>
            </h2>
          </div>
          <div id="collapseTop03" class="collapse" aria-labelledby="headingTop03">
            <div class="card-body body-sm">
              <div class="custom--filters">
                <div class="d-flex1">
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="0" placeholder="Minimum" class="browser-default gen-input mr-1" />
                  </div>
                  <div></div>
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="100000" placeholder="Maximum" class="browser-default gen-input" />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>

        <!-- Annual Price  -->
        <div class="card">
          <div class="card-header" id="headingTop04">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop04"
                aria-expanded="true" aria-controls="collapseTop04">
                Annual Price
              </button>
            </h2>
          </div>
          <div id="collapseTop04" class="collapse" aria-labelledby="headingTop04">
            <div class="card-body body-sm">
              <div class="custom--filters">
                <div class="d-flex1">
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="0" placeholder="Minimum" class="browser-default gen-input mr-1" />
                  </div>
                  <div></div>
                  <div class="ft-input-range">
                    <i class="fa fa-money-bill"></i>
                    <input type="text" value="100000" placeholder="Maximum" class="browser-default gen-input" />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>

        <!-- Maximum Storage  -->
        <div class="card">
          <div class="card-header" id="headingTop05">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop05"
                aria-expanded="true" aria-controls="collapseTop05">
                Storage
              </button>
            </h2>
          </div>
          <div id="collapseTop05" class="collapse" aria-labelledby="headingTop05">
            <div class="card-body body-sm">
              <div class="custom--filters">
                <div class="d-flex1">
                  <div class="ft-input-range">
                    <i class="fa fa-database"></i>
                    <input type="text" value="0" placeholder="Minimum" class="browser-default gen-input mr-1" />
                  </div>
                  <div></div>
                  <div class="ft-input-range">
                    <i class="fa fa-database"></i>
                    <input type="text" value="100000" placeholder="Maximum" class="browser-default gen-input" />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
