<div class="content settings-content">
    <div class="row" style="width: 100%; margin: 0;">
      <div class="col-md-12 settings-wrapper">
        <header class="settings-header">
          <!--<p>Atbtechsoft Company</p>-->
  
          <h1>Profile Settings</h1>
        </header>
        <div class="row">
          <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <div class="left-nav-grp">
              <div class="nav-menu">
                <!--<div class="left-nav-header">-->
                <!--<p>GENERAL</p>-->
                <!--</div>-->
                <ul class="nav-menu1" style="border: none !important;">
                  <li>
                    <a routerLink="/settings/user-profile" routerLinkActive="nav-menu-active" >Personal Profile</a>
                  </li>
                  <li>
                    <a routerLink="/settings/change-password" routerLinkActive="nav-menu-active">Change Password</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-10">
            <div class="settings-header">
                <!--<div class="row">-->
                <!--<div class="col-xl-3 col-sm-12">-->
                <h1>Change Password</h1>
                <ul class="nav nav-tabs" role="tablist">
            
                </ul>
                <!--<p>Set up Roles</p>-->
            </div>
            <div class="settings-label container">
            
                <div class="row mt-3 pt-3">
                    <div class="col-sm-12">
                        <h6 class="fw-500 fin-pry-color">Update Password</h6>
                    </div>
                    <div class="col-md-5 pt-3">
                        <label>Current Password</label>
                        <br>
                        <input  [(ngModel)]="dto.password" type="password" name="oldPassword" class="w-100 gen-input browser-default">
                    </div>
                </div>
                <div class="row mt-3 pt-3">
                    <div class="col-md-5 pt-3">
                        <label>New Password</label>
                        <br>
                        <input [(ngModel)]="dto.npassword" type="password" name="newPassword" class="w-100 gen-input browser-default">
                    </div>
                </div>
                <div class="row mt-3 pt-3">
                    <div class="col-md-5 pt-3">
                        <label for="date">Repeat Password</label>
                        <br>
                        <input [(ngModel)]="confirmPassword" type="password" id="date" name="confirmPassword" class="w-100 gen-input browser-default">
                        <span id="matchPassworError" class="text-danger" *ngIf="matchPassword">
                                *password does not match</span>
                    
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-5 pt-3">
                        <button (click)="changePwd()" [disabled]="disableBtn || submitting" type="button" class="fin-pry-btn">
                            save <span *ngIf="submitting"><i  class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="settings-label tab-pane fade" id="create-customer-source" role="tabpanel"
                 aria-labelledby="create-customer-source-tab">
            </div>
            <!--<div class="row">-->
            <!--<div class="offset-xl-8 pt-3" style="padding-left: 35px;">-->
            <!--<button class="fin-pry-btn" style="margin-top: -13px; margin-left: 15px;">INVITE-->
            <!--</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="right fin-pry-btn">INVITE</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
        <!--<form>-->
        <!--<input type="email" id="email" name="email" class="gen-input2 browser-default" style="width: 400px">-->
        <!--</form>-->
      </div>
    </div>
  </div>
  
  
  <!--ai character-->
  <div class="ai-chat-card d-none">
    <div class="ai-chat-card-top">
      <p>Sade is here for you</p>
      <p class="chat-close right">x</p>
      <!--<a href="#" class="chat-close right">x</a>-->
    </div>
    <div id="live-chat">
      <div class="chat">
        <div class="chat-history">
  
          <div class="chat-message clearfix">
  
            <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
  
            <div class="chat-message-content clearfix">
  
              <span class="chat-time">13:35</span>
  
              <h5>John Doe</h5>
  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione
                odio
                dolorum harum.</p>
  
            </div> <!-- end chat-message-content -->
  
          </div> <!-- end chat-message -->
  
          <hr>
  
          <div class="chat-message clearfix">
  
            <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
  
            <div class="chat-message-content clearfix">
  
              <span class="chat-time">13:37</span>
  
              <h5>Marco Biedermann</h5>
  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus
                magni
                vel debitis numquam qui tempora rem voluptatem delectus!</p>
  
            </div> <!-- end chat-message-content -->
  
          </div> <!-- end chat-message -->
  
          <hr>
  
          <div class="chat-message clearfix">
  
            <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
  
            <div class="chat-message-content clearfix">
  
              <span class="chat-time">13:38</span>
  
              <h5>John Doe</h5>
  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  
            </div> <!-- end chat-message-content -->
  
          </div> <!-- end chat-message -->
  
          <hr>
  
        </div> <!-- end chat-history -->
  
        <p class="chat-feedback">Your partner is typing…</p>
  
        <form action="#" method="post">
          <fieldset>
            <input type="text" placeholder="Type your message…" autofocus>
            <input type="hidden">
          </fieldset>
        </form>
      </div> <!-- end chat -->
    </div> <!-- end live-chat -->
  
  </div>
  <div class="ai-character">
    <img src="../img/ai-character.svg" alt="">
  </div>
  <div class="ai-blockquote" style="display: none;">
    <blockquote>
  
      <div class="arrow-left"></div>
      <!--edit to arrow-left or arrow-right -->
    </blockquote>
  </div>
  