<div class="row" style="margin-left: auto; margin-right: auto">

    </div>
    
    <div class="content" style="margin-top: 90px;">
        <div class="col-sm-12 content-list-title">
            <div class="m-auto text-center">
                <!--<a href="credit-management-list.html" class="text-center left"> < Credit Profile</a>-->
                <h5 class="text-center fin-pry-color" style="font-weight: 600">JOHN DOE</h5>
            </div>
        </div>
        <div class="row pl-5 pr-5" style="width: 100%; margin: 0;">
            <div class=" col-md-12 col-xl-12">
                <div class="license-card" style="margin: 0">
                    <div class="license-card-header">
                        <h3 class="text-left">License Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="border-right: 1px #C4C4C4 solid">
                            <div class="fin-blue" style="margin-top: 20%">
                                <h3>ADVANCED</h3>
                            </div>
                            <div class="text-center" style="margin-top: 10%">
                                <p>You are currently subscribed to the<br>
                                    Popular plan with monthly  billing</p>
                            </div>
                            <div class="form-group" style="margin-top: 10%">
                                <!--<label class="col-form-label" style="color: #000000;font-weight: 500;margin: auto">Select New License</label>-->
                                <!--<br>-->
                                <select class="gen-input browser-default form-control" style="width: 50%;margin: auto">
                                    <option value="" disabled selected>Select New License</option>
                                    <option value="1">Deals</option>
                                    <option value="2">Revenue</option>
                                    <option value="3">Task</option>
                                    <option value="4">calls</option>
                                    <option value="5">Task</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8" style="padding-left: 30px">
                            <div>
                                <div class="" style="margin-top: 3%;border-bottom: 1px #C4C4C4 solid;padding-bottom: 20px">
                                    <h3 class="text-left">Description</h3>
                                </div>
                                <div class="" style="margin-top: 5%">
                                    <p>Contact Management</p>
                                    <p>Sales Automation</p>
                                    <p>Sales Automation</p>
                                </div>
                            </div>
                            <div>
                                <div  style="margin-top: 5%;border-bottom: 1px #C4C4C4 solid;padding-bottom: 20px">
                                    <h3 class="text-left">Amount</h3>
    
                                </div>
                                <div style="padding-top: 10px;">
                                    <p>$7,000</p>
                                </div>
                                <div class="right">
                                    <button class="fin-pry-btn" style="margin: 10px">UPGRADE PLAN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
            <!--3 cards below-->
            <div class="row" style="margin-top: 30px;width: 100%;margin-bottom: 50px">
                <div class="col-md-4">
                    <div class="license-card">
                        <div class="license-card-header">
                            <h3 class="text-left">Usage Statistics</h3>
                        </div>
                        <div class="license-card-body">
                            <div class="left" style="margin: 25px">
                                <h3 style="margin-bottom: 30px">Description</h3>
                                <p>Lorum ipsum</p>
                                <p>Lorum ipsum</p>
                                <p>Lorum ipsum</p>
                                <p>Lorum ipsum</p>
                            </div>
                            <div class="right" style="margin: 25px">
                                <h3 style="margin-bottom: 30px">Usage</h3>
                                <p>50mb</p>
                                <p>100mb</p>
                                <p>150mb</p>
                                <p>200mb</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="license-card">
                        <div class="license-card-header">
                            <h3 class="text-left">Invoices</h3>
                        </div>
                        <div class="license-card-body" style="">
                            <div class="left" style="margin: 25px">
                                <h3 class="text-left" style="margin-bottom: 30px">Description</h3>
                                <p>April 10th, 2019</p>
                                <p>March 10th, 2019</p>
                                <p>February 10th, 2019</p>
                                <p>January 10th, 2019</p>
                            </div>
                            <div class="right" style="margin: 25px">
                                <h3 class="text-right" style="margin-bottom: 30px">Amount</h3>
                                <p>$7,000</p>
                                <p>$7,000</p>
                                <p>$7,000</p>
                                <p>$7,000</p>
                            </div>
                        </div>
                        <!--<div class="text-center fin-blue">-->
                        <!--<p>View all</p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="license-card">
                        <div class="license-card-header">
                            <h3 class="text-left">Payment Method</h3>
                        </div>
                        <div class="license-body-card text-left" style="margin: 50px;font-size: 20px;">
                            <p>JOHN DOE</p>
                            <p>xxxx xxxx xxxx 6984</p>
                            <p>8/19</p>
                        </div>
                        <div class="fin-blue text-center" style="border-top: 1px #C4C4C4 solid;padding-top: 10px">
                            <p>Update Payment Method</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    
    <!--ai character-->
    <div class="ai-chat-card d-none">
        <div class="ai-chat-card-top">
            <p>Sade is here for you</p>
            <p class="chat-close right">x</p>
            <!--<a href="#" class="chat-close right">x</a>-->
        </div>
        <div id="live-chat">
    
    
            <div class="chat">
    
                <div class="chat-history">
    
                    <div class="chat-message clearfix">
    
                        <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
    
                        <div class="chat-message-content clearfix">
    
                            <span class="chat-time">13:35</span>
    
                            <h5>John Doe</h5>
    
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio
                                dolorum harum.</p>
    
                        </div> <!-- end chat-message-content -->
    
                    </div> <!-- end chat-message -->
    
                    <hr>
    
                    <div class="chat-message clearfix">
    
                        <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32"
                             height="32">
    
                        <div class="chat-message-content clearfix">
    
                            <span class="chat-time">13:37</span>
    
                            <h5>Marco Biedermann</h5>
    
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
                                vel debitis numquam qui tempora rem voluptatem delectus!</p>
    
                        </div> <!-- end chat-message-content -->
    
                    </div> <!-- end chat-message -->
    
                    <hr>
    
                    <div class="chat-message clearfix">
    
                        <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
    
                        <div class="chat-message-content clearfix">
    
                            <span class="chat-time">13:38</span>
    
                            <h5>John Doe</h5>
    
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    
                        </div> <!-- end chat-message-content -->
    
                    </div> <!-- end chat-message -->
    
                    <hr>
    
                </div> <!-- end chat-history -->
    
                <p class="chat-feedback">Your partner is typing…</p>
                <form action="#" method="post">
                    <fieldset>
                        <input type="text" placeholder="Type your message…" autofocus>
                        <input type="hidden">
    
                    </fieldset>
                </form>
            </div> <!-- end chat -->
        </div> <!-- end live-chat -->
    </div>
    <div class="ai-character">
        <img src="../img/ai-character.svg" alt="">
    </div>
    <div class="ai-blockquote" style="display: none;">
        <blockquote>
    
            <div class="arrow-left"></div> <!--edit to arrow-left or arrow-right -->
        </blockquote>
    </div>
    