<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<!-- Flow Templates -->
<flow-template id="billing-details-1" [options]="flow.billing.options">
  <!-- Flow: Content -->
  <ng-container *ngIf="!loader.flow.showSpinner">
    <!-- Sub Navigation -->
    <div flow-header>
      <div class="row" style="margin-left: auto; margin-right: auto;">
        <nav class="sub-nav hide-on-med-and-down" *ngIf="!loader.main.showSpinner">
          <div class="contact-actions d-flex">
            <div class="user-dp">
              <a data-toggle="modal" data-target="#ModalCenter19">
                <img [src]="dataSource?.profileImage || 'https://test.notchcx.io/assets/img/default.png'"
                  class="avatar img-circle img-thumbnail" style="width:50px; height: 50px;" alt="avatar">
              </a>
            </div>
            <div class="contact-home-link">
              <h6 style="margin-top: 25px; font-size: 18px;"> {{dataSource?.firstName | uppercase}}
                {{dataSource?.surName | uppercase}}</h6>
            </div>
            <div class="actions-btn d-flex">
              <button class="fin-sec-btn" id="dropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                ACTIONS <span><img src="../../../../assets/img/caret_down_blue.svg" width="13" alt=""></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink6">
                <a class="dropdown-item" href="#">Enrich</a>
                <!-- <a class="dropdown-item" (click)="handleCreateInvoice()">Create Invoice</a>
            <a class="dropdown-item" (click)="handleCreateQuotation()">Create Quotation</a>
            <a class="dropdown-item" (click)="handleCreateSalesOrder()">Create Sales Order</a>
            <a class="dropdown-item" (click)="handleCreateDeals()">Create Deals</a> -->
                <a class="dropdown-item"
                  href="https://www.google.com/search?&q={{dataSource?.firstName}} {{dataSource?.surName}}"
                  target="_blank">Search
                  in Google</a>
                <a class="dropdown-item" href="#">Merge</a>
                <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCenter2">Assign Target</a> -->
                <!-- <a class="dropdown-item" (click)="handleContactDeletion(contactId)">Delete</a> -->
              </div>
              <div class="btn-group" (click)="onMouseMenu()" [ngClass]="{'opened': isOpened}">
                <button type="button" class="btn fin-pry-btn ml-4 dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{ navMenu.default | titlecase}}
                </button>
                <div class="dropdown-menu">
                  <a *ngFor="let menu of navMenu.list">
                    <span class="dropdown-item" *ngIf="!menu.selected"
                      (click)="onSelectMenu(menu.name)">{{menu.name | titlecase}}</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- <a href="" class="sub-nav-link right">Product Suggestions</a> -->

          </div>
        </nav>
      </div>
    </div>

    <!-- Body -->
    <div flow-body></div>
  </ng-container>

  <!-- Flow: Main Loader -->
  <loading-spinner [spinnerSet]="loader.flow" *ngIf="loader.flow.showSpinner"></loading-spinner>
</flow-template>

<!-- MAIN -->
<div class="" style="margin-top: 90px;padding: 0 1%">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ECF2FB; width: 80%;">
      <div class="list-filter">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingTop">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop"
                  aria-expanded="true" aria-controls="collapseTop">
                  Today
                </button>
              </h2>
            </div>

            <div id="collapseTop" class="collapse show" aria-labelledby="headingTop" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked42">
                  <label class="custom-control-label" for="defaultUnchecked42">New
                    <span>(14)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked43">
                  <label class="custom-control-label" for="defaultUnchecked43">Needs Attention</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTop2">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTop2"
                  aria-expanded="true" aria-controls="collapseTop2">
                  Needs Attention
                </button>
              </h2>
            </div>

            <div id="collapseTop2" class="collapse" aria-labelledby="headingTop2" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked45">
                  <label class="custom-control-label" for="defaultUnchecked45">New
                    <span>(14)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked46">
                  <label class="custom-control-label" for="defaultUnchecked46">Needs Attention</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Profile Fit
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked11">
                  <label class="custom-control-label" for="defaultUnchecked11">Yes</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked13">
                  <label class="custom-control-label" for="defaultUnchecked13">No</label>
                </div>
                <br>
                <label for="filter1">Profile Score</label>
                <div class="d-flex">
                  <select class="gen-input browser-default form-control" id="filter1">
                    <option value="" disabled="" selected="">=</option>
                    <option value="1">
                      <</option> <option value="2">>
                    </option>
                    <option value="3">=</option>
                  </select>
                  <input type="text" placeholder="Enter figure" class="browser-default gen-input">
                  <!--<p style="margin: 0" class="input-label-perc">%</p>-->
                </div>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Winning Probability
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <label for="filter2">Winning Probability</label>
                <div class="d-flex">
                  <select class="gen-input browser-default form-control" id="filter2">
                    <option value="" disabled="" selected="">=</option>
                    <option value="1">
                      <</option> <option value="2">>
                    </option>
                    <option value="3">=</option>
                  </select>
                  <input type="text" placeholder="Enter figure" class="browser-default gen-input">
                  <p style="margin: 0" class="input-label-perc">%</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Lead Owner
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked6">
                  <label class="custom-control-label" for="defaultUnchecked6">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked15">
                  <label class="custom-control-label" for="defaultUnchecked15">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked14">
                  <label class="custom-control-label" for="defaultUnchecked14">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading4">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4"
                  aria-expanded="false" aria-controls="collapse4">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked12">
                  <label class="custom-control-label" for="defaultUnchecked12">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked16">
                  <label class="custom-control-label" for="defaultUnchecked16">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked17">
                  <label class="custom-control-label" for="defaultUnchecked17">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading5">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5"
                  aria-expanded="false" aria-controls="collapse5">
                  Inbound Emails
                </button>
              </h2>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked18">
                  <label class="custom-control-label" for="defaultUnchecked18">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked19">
                  <label class="custom-control-label" for="defaultUnchecked19">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked20">
                  <label class="custom-control-label" for="defaultUnchecked20">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading6">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6"
                  aria-expanded="false" aria-controls="collapse6">
                  Lead Source
                </button>
              </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked21">
                  <label class="custom-control-label" for="defaultUnchecked21">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked22">
                  <label class="custom-control-label" for="defaultUnchecked22">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked23">
                  <label class="custom-control-label" for="defaultUnchecked23">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading7">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7"
                  aria-expanded="false" aria-controls="collapse7">
                  Not Engaged
                </button>
              </h2>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked24">
                  <label class="custom-control-label" for="defaultUnchecked24">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked25">
                  <label class="custom-control-label" for="defaultUnchecked25">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked26">
                  <label class="custom-control-label" for="defaultUnchecked26">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading8">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8"
                  aria-expanded="false" aria-controls="collapse8">
                  Created on
                </button>
              </h2>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked27">
                  <label class="custom-control-label" for="defaultUnchecked27">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked28">
                  <label class="custom-control-label" for="defaultUnchecked28">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked29">
                  <label class="custom-control-label" for="defaultUnchecked29">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading11">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11"
                  aria-expanded="false" aria-controls="collapse11">
                  Purchase Timeline
                </button>
              </h2>
            </div>
            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked35">
                  <label class="custom-control-label" for="defaultUnchecked35">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked36">
                  <label class="custom-control-label" for="defaultUnchecked16">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked37">
                  <label class="custom-control-label" for="defaultUnchecked37">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading9">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9"
                  aria-expanded="false" aria-controls="collapse9">
                  Knowledge on Budget
                </button>
              </h2>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked30">
                  <label class="custom-control-label" for="defaultUnchecked30">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked31">
                  <label class="custom-control-label" for="defaultUnchecked31">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked32">
                  <label class="custom-control-label" for="defaultUnchecked32">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading10">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10"
                  aria-expanded="false" aria-controls="collapse10">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked10">
                  <label class="custom-control-label" for="defaultUnchecked10">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked33">
                  <label class="custom-control-label" for="defaultUnchecked33">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked34">
                  <label class="custom-control-label" for="defaultUnchecked34">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading12">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12"
                  aria-expanded="false" aria-controls="collapse12">
                  My Data
                </button>
              </h2>
            </div>
            <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked39">
                  <label class="custom-control-label" for="defaultUnchecked39">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked40">
                  <label class="custom-control-label" for="defaultUnchecked40">Stage Progress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked41">
                  <label class="custom-control-label" for="defaultUnchecked41">Stage Progress</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-10 col-lg-9 col-md-8 content-list">
      <!-- Loader -->
      <loading-spinner [spinnerStatus]="setSpinnerStatus" (reloadSpinner)="retry($event)" [spinnerType]="spinnerType"
        *ngIf="showSpinner">
      </loading-spinner>

      <!-- Main Section -->
      <div class="list" *ngIf="!showSpinner">
        <div *ngIf="dataSource.length > 0" class="row content-list-header">
          <div class="col-md-6 text-left filter-actions-top">
          </div>
          <div class="col-md-6 content-list-buttons">
            <button class="fin-sec-btn mr-1" (click)="exportTable()" [ladda]="this.loader.export"
              data-style="slide-left">EXPORT</button>
            <!-- <button class="fin-pry-btn mr-1" (click)="openTemplate('billing-details-1')">OPEN DETAILS</button> -->
            <a [routerLink]="['/billing-invoice/create']">
              <button class="fin-pry-btn">CREATE INVOICE</button>
            </a>
          </div>
        </div>

        <!-- Display Table -->
        <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
          [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
          [bodyrows]="dataSource">
        </inn-datatable>

        <!-- Delete Modal Begins -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">

            <!-- Loader -->
            <loading-spinner [spinnerStatus]="modalSpinnerStatus" [spinnerType]="modalSpinnerType"
              *ngIf="showModalSpinner">
            </loading-spinner>

            <!-- Main Section -->
            <div class="list" *ngIf="!showSpinner">
              <div *ngIf="dataSource.length > 0" class="row content-list-header">

                <div class="col-12 text-right content-list-buttons">
                  <button class="fin-sec-btn mr-1">EXPORT</button>
                  <button class="fin-sec-btn mr-1">IMPORT</button>
                  <a [routerLink]="['/billing-invoice/create']">
                    <button class="fin-pry-btn">CREATE INVOICE</button>
                  </a>
                </div>
                <inn-datatable [tableClass]="'table-bordered table-hover'" [dataChanged]="dataTable.dataChangedObs"
                  [options]="dataTable.options" [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)"
                  [bodyrows]="dataSource">
                </inn-datatable>

                <!-- Delete Modal Begins -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">

                    <!-- Loader -->
                    <loading-spinner [spinnerStatus]="modalSpinnerStatus" [spinnerType]="modalSpinnerType"
                      *ngIf="showModalSpinner">
                    </loading-spinner>

                    <!-- Modal Content -->
                    <div class="modal-content" *ngIf="!showModalSpinner && !showModalSuccess">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">Delete Invoice?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="ml-2">
                          <div class="form-group pt-4 pb-2 px-3 text-center">
                            <h4 class="mb-3">
                              <span>Are you sure want to delete</span><br>
                              <span class="text-bold">
                                "{{dataObject?.license}}"?
                              </span>
                            </h4>
                            <p class="text-muted">You won't be able to revert this change!</p>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="fin-sec-btn" *ngIf="!isLoading" data-dismiss="modal">No,
                          cancel
                        </button>
                        <button type="button" class="fin-pry-btn btn-danger" [ladda]="isLoading" data-style="zoom-in"
                          (click)="onDelete(dataObject?.id)">Yes, delete</button>
                      </div>
                    </div>

                    <!-- Display No Data Notification -->
                    <div class="col-12 text-center my-5" *ngIf="dataSource.length === 0">
                      <div class="content-list-header my-2">
                        <i class="fa fa-exclamation-circle fa-3x my-3 text-primary"></i><br>
                        <h6 class="text-muted">No available data !</h6>
                        <label class="text-muted">Create to get started.</label>
                      </div>
                      <a [routerLink]="['/billing-invoice/create']">
                        <button type="button" class="fin-sec-btn">CREATE INVOICE</button>
                      </a>
                    </div>

                    <!-- Delete Modal Begins -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">

                        <!-- Loader -->
                        <loading-spinner [spinnerStatus]="modalSpinnerStatus" [spinnerType]="modalSpinnerType"
                          *ngIf="showModalSpinner">
                        </loading-spinner>

                        <!-- Modal Content -->
                        <div class="modal-content" *ngIf="!showModalSpinner && !showModalSuccess">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Delete Invoice?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="ml-2">
                              <div class="form-group pt-4 pb-2 px-3 text-center">
                                <h4 class="mb-3">
                                  <span>Are you sure want to delete</span><br>
                                  <span class="text-bold">
                                    "{{dataObject?.license}}"?
                                  </span>
                                </h4>
                                <p class="text-muted">You won't be able to revert this change!</p>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="fin-sec-btn" *ngIf="!isLoading" data-dismiss="modal">No,
                              cancel
                            </button>
                            <button type="button" class="fin-pry-btn btn-danger" [ladda]="isLoading"
                              data-style="zoom-in" (click)="onDelete(dataObject?.id)">Yes, delete</button>
                          </div>
                        </div>

                        <!-- Modal Success -->
                        <div class="modal-content" *ngIf="!showModalSpinner && showModalSuccess">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Action Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="content-list-header text-center py-5">
                              <i class="fa fa-check-circle fa-4x mb-3 text-success"></i><br>
                              <br>
                              <h4 class="text-muted">Invoice deleted successfully.</h4>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="fin-sec-btn" data-dismiss="modal" (click)="refresh()">Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Delete Modal End-->

                    <!-- Modal Success -->
                    <div class="modal-content" *ngIf="!showModalSpinner && showModalSuccess">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">Action Success</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="content-list-header text-center py-5">
                          <i class="fa fa-check-circle fa-4x mb-3 text-success"></i><br>
                          <br>
                          <h4 class="text-muted">Invoice deleted successfully.</h4>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="fin-sec-btn" data-dismiss="modal" (click)="refresh()">Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Delete Modal End-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
