/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; */

/* @import "assets/css/all.min.css"; */
@import "assets/css/bootstrap.min.css";
@import "assets/css/dope-icons.css";
@import "assets/css/mdb.css";
@import "assets/css/chosen.min.css";
@import "assets/css/materialize.css";
@import "assets/css/style.css";
@import "assets/css/additions.css";
@import "assets/css/responsive.css";
@import "assets/css/util.min.css";

@import "assets/calendar-assets/core/main.css";
@import "assets/calendar-assets/daygrid/main.css";
@import "assets/css/dropzone.css";
@import "assets/css/emojionearea.min.css";
@import "assets/css/richtext.min.css";
@import "assets/css/addons/datatables.min.css";
@import "../node_modules/ladda/dist/ladda-themeless.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css"; */
@import "../node_modules/ionicons/dist/css/ionicons.min.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";



body {
  background: #ECF2FB;
}

.ng-touched.ng-invalid {
  border-color: #DC3545;
}

button:disabled {
  /* background: #375973; */
  background: #158ded6e;
}

sup {
  top: 0.05em !important;
}

sup .required {
  color: #ff3547;
}

.ft-content {
  height: auto;
  /* height: calc(100vh - 108px); */
  overflow-y: auto;
  max-height: 100vh;
  /* position: relative; */
}

.br-pagebody-mn {
  margin-top: 10px;
  /* margin-left: -3em; */
  border-radius: 5px;
  background: white;
  padding: 50px 40px;
  height: auto;
  position: relative;
}

#steady-spinner {
  border: 4px solid lightblue;
  border-top-color: #09e;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: auto;
  margin-top: 20px;
  /* border-top-color: green; */
  animation: spin 1s ease-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.ngx-dropdown-container {
  width: 75%;
  border: 1px solid #7E7F9A !important;
  border-radius: 5px !important;
  font-size: 14px;
  color: #7E7F9A !important;
  background: transparent !important;
}

.ngx-dropdown-container .ngx-dropdown-button {
  background-image: url(assets/img/caret_down.svg) !important;
  background-position: right center !important;
  background-repeat: no-repeat !important;
  background-size: 1.5ex !important;
  background-origin: content-box !important;
  color: #7E7F9A !important;
  border: none !important;
  padding: 9px 10px 5px 10px !important;
}

input:not([type]) {
  border-bottom: none !important;
}

.is-clickable {
  cursor: pointer;
}

.fin-green {
  color: #058001;
}

.btn-small {
  margin: 0;
  box-shadow: none;
  min-height: 25px;
  min-width: 70px;
  font-size: 10px;
}

.text-elips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CSS to expand button width (do not remove) */
button.expand-btn {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

sup.require {
  color: #ff3547;
  top: -0.1em;
}

span.form-error {
  color: #ff3547;
  font-size: 13px;
}

.ng-select .ng-select-container {
  width: 75% !important;
  height: 31px;
  /* padding-top: 10px; */
}
