<div class="row" style="margin-left: auto; margin-right: auto">

</div>

<div class="content" style="margin-top: 90px !important;">
  <div class="row" style="width: 100%; margin: 0;">
    <!--<div class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"-->
    <!--style="border-right: 4px solid #ECF2FB; width: 80%;">-->
    <!--<div class="list-filter">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<img src="../img/1.jpg" alt="" class="img-fluid mr-1">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="col-xl-12 col-lg-12 col-md-12 content-list">
      <!-- Loader -->
      <loading-spinner [spinnerStatus]="setSpinnerStatus" (reloadSpinner)="retry($event)" [spinnerType]="spinnerType"
        *ngIf="showSpinner"></loading-spinner>

      <!-- Main Section -->
      <div class="list" *ngIf="!showSpinner">
        <div class="row content-list-header">
          <div class="col-sm-12 border-bottom mb-3">
            <h4 class="text-uppercase text-center fs-18">
              Tenant Information
            </h4>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-3 col-lg-2 col-xl-1 mt-1">
            <img [src]="dataObject?.imgPath" alt="" class="w-75">
            <br>
            <br>
            <span class="">
              <a href="#" class="mt-3 fs-13 fin-blue"><i class="fa fa-envelope"></i> Send message</a>
            </span>
          </div>
          <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="cc-user-info">
              <table>
                <tbody>
                  <tr>
                    <td class="cc-user-title pt-0">Company Name</td>
                    <td class="pt-0">{{dataObject?.name}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Email</td>
                    <td>{{dataObject?.email}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Tenant ID</td>
                    <td>{{dataObject?.tenantID}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Plan</td>
                    <td>{{dataObject?.plan}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Sign up</td>
                    <td>{{dataObject?.createdDate | dateAgo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Last seen</td>
                    <td>{{dataObject?.lastSeen | dateAgo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Phone Number</td>
                    <td>{{dataObject?.phoneNo}}</td>
                  </tr>
                  <tr>
                    <td class="cc-user-title">Users</td>
                    <td>{{dataObject?.noOfUsers}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12 col-lg-10 col-xl-6 list-filter cc-user-tenants">
            <h4 class="text-uppercase text-left fs-16 fw-500 mb-3">Users</h4>
            <div class="">
              <!-- Search form -->
              <!-- <input class="form-control browser-default" type="text" placeholder="Search" [(ngModel)]="filter.search"
                (change)="onChange()" aria-label="Search" height="40px" style="width: 40% !important;"> -->
            </div>
            <div class="accordion" id="accordionExample">
              <div class="card" *ngFor="let user of dataObject?.users">
                <div class="card-header" [id]="'heading' + user.userID">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      [attr.data-target]="'#collapse' + user.userID" aria-expanded="true"
                      [attr.aria-controls]="'collapse' + user.userID">
                      {{user.email}}
                    </button>
                  </h2>
                </div>

                <div [id]="'collapse' + user.userID" class="collapse" [attr.aria-labelledby]="'heading' + user.userID"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <table>
                      <tbody>
                        <tr>
                          <td class="cc-user-title pt-0">User ID</td>
                          <td class="pt-0">{{user.userID}}</td>
                          <td class="pt-0">
                            <img [src]="user.imgPath" class="" style="border-radius: 50%;width: 50px; height: 50px;"
                              alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="cc-user-title">Created</td>
                          <td>{{user.createdDate | dateAgo}}</td>
                        </tr>
                        <tr>
                          <td class="cc-user-title">Address</td>
                          <td>{{user.address}}</td>
                        </tr>
                        <tr>
                          <td class="cc-user-title d-flex w-100">
                            <a [routerLink]="['/users/status/' + user.userID]" class="fin-sec-btn">View more</a>
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ai character-->
<div class="ai-chat-card d-none">
  <div class="ai-chat-card-top">
    <p>Sade is here for you</p>
    <p class="chat-close right">x</p>
    <!--<a href="#" class="chat-close right">x</a>-->
  </div>
  <div id="live-chat">


    <div class="chat">

      <div class="chat-history">

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:35</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio
              dolorum harum.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:37</span>

            <h5>Marco Biedermann</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
              vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <span class="chat-time">13:38</span>

            <h5>John Doe</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

      </div> <!-- end chat-history -->

      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…" autofocus>
          <input type="hidden">

        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
</div>
<div class="ai-character">
  <img src="../img/ai-character.svg" alt="">
</div>
<div class="ai-blockquote" style="display: none;">
  <blockquote>

    <div class="arrow-left"></div>
    <!--edit to arrow-left or arrow-right -->
  </blockquote>
</div>
